<%=
_.template(require('./../includes/header.html').default)(data) %>

<main class="about-content">
  <section class="banner">
    <img src="img/LBV-files-4site/Exploatari-miniere/Carier-4 SLOBOZIA/Imagini/IMG-20170306-WA0001.jpeg" alt="">
  </section>
  <div class="row crumbs">
    <div class="container">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>DESPRE NOI</h4>
    </div>
  </div>
  <section>
    <article>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="subdescr"><strong>LBV-Construct</strong> este grupul de Companii Moldo-austriece.</p>
            <p>
              LBV-Construct este grupul de Companii Moldo-austriece
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere error quibusdam voluptas quo veniam officiis totam eaque similique, porro soluta illo. Quisquam in dolorum inventore. Rerum voluptate, placeat molestiae quibusdam quo eos hic nesciunt voluptatibus praesentium, iste perferendis nam consequatur.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae labore ullam vel neque nam officiis, inventore, molestiae ea a nesciunt quibusdam aliquid et accusantium error numquam. Assumenda, eaque laboriosam, at sit non ut eos autem asperiores maiores molestiae architecto aut accusamus beatae amet eligendi pariatur in unde molestias quidem nulla aliquid hic ad dolorem est. Placeat asperiores quos esse rerum at. Culpa dolorem aliquid tempora minima, eveniet velit sequi quae veniam dicta eos, reiciendis eligendi soluta molestias sed nostrum doloribus quidem maxime quam sunt dignissimos laboriosam. Nobis placeat, aliquam, enim error corrupti eaque facilis illo natus voluptates, inventore quae! Perferendis.
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>
  <div class="row">
    <div class="col-12">
      <h4>COMPANIILE NOASTRE</h4>
    </div>
  </div>
  <section class="textBlack">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="accord">
            <h5 data-toggle="collapse" data-target="#comp1" aria-expanded="false">COMPANIA LBV-Construct <i class="fas fa-chevron-down"></i></h5>
            <ul class="collapse" id="comp1">
              <li>Contactele:</li>
              <li>Sediu:</li>
              <li><a href="tel:">Tel:</a></li>
              <li><a href="mailto:">Email:</a></li>
            </ul>
          </div>
          <div class="accord">
            <h5 data-toggle="collapse" data-target="#comp2" aria-expanded="false">COMPANIA 2 <i class="fas fa-chevron-down"></i></h5>
            <ul class="collapse" id="comp2">
              <li>Contactele:</li>
              <li>Sediu:</li>
              <li><a href="tel:">Tel:</a></li>
              <li><a href="mailto:">Email:</a></li>
            </ul>
          </div>
          <div class="accord">
            <h5 data-toggle="collapse" data-target="#comp3" aria-expanded="false">COMPANIA 3 <i class="fas fa-chevron-down"></i></h5>
            <ul class="collapse" id="comp3">
              <li>Contactele:</li>
              <li>Sediu:</li>
              <li><a href="tel:">Tel:</a></li>
              <li><a href="mailto:">Email:</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="parralax">
    <img src="img/LBV-files-4site/Exploatari-miniere/Carier-2 BADEA/Imagini/FB_IMG_1530135738826.jpg" alt="">
  </section>
  <div class="row">
    <div class="col-12">
      <h4>Serviciile Noastre</h4>
    </div>
  </div>
  <section class="textBlack imageBack">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="accord">
            <h5 data-toggle="collapse" data-target="#serv1" aria-expanded="false">Exploatări miniere <i class="fas fa-chevron-down"></i></h5>
            <div class="collapse" id="serv1">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis esse maiores facere magnam quisquam dicta porro culpa, quaerat quidem sit assumenda deserunt cupiditate nisi quos sunt blanditiis dolores dignissimos fugit officiis aspernatur quam quis omnis rem. Unde eveniet dolores, fugit minus vero quis repellendus laudantium vitae facilis. Debitis, voluptate. Repudiandae.</p>
            </div>
          </div>
          <div class="accord">
            <h5 data-toggle="collapse" data-target="#serv2" aria-expanded="false">Transport de materiale <i class="fas fa-chevron-down"></i></h5>
            <div class="collapse" id="serv2">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus odit accusamus harum eos. Sapiente, assumenda. Labore eaque aspernatur minima recusandae nobis quos reprehenderit, nesciunt, cum animi doloribus suscipit, molestias tempora!</p>
            </div>
          </div>
          <div class="accord">
            <h5 data-toggle="collapse" data-target="#serv3" aria-expanded="false">Demolări clădiri <i class="fas fa-chevron-down"></i></h5>
            <div class="collapse" id="serv3">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui amet sapiente praesentium molestiae, eaque magnam facere possimus? Ex, nihil ullam?</p>
            </div>
          </div>
          <div class="accord">
            <h5 data-toggle="collapse" data-target="#serv4" aria-expanded="false">Lucrări de terasament <i class="fas fa-chevron-down"></i></h5>
            <div class="collapse" id="serv4">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui amet sapiente praesentium molestiae, eaque magnam facere possimus? Ex, nihil ullam?</p>
            </div>
          </div>
          <div class="accord">
            <h5 data-toggle="collapse" data-target="#serv5" aria-expanded="false">Reciclare materiale de construcții <i class="fas fa-chevron-down"></i></h5>
            <div class="collapse" id="serv5">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui amet sapiente praesentium molestiae, eaque magnam facere possimus? Ex, nihil ullam?</p>
            </div>
          </div>
          <div class="accord">
            <h5 data-toggle="collapse" data-target="#serv6" aria-expanded="false">Reparația utilajelor <i class="fas fa-chevron-down"></i></h5>
            <div class="collapse" id="serv6">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui amet sapiente praesentium molestiae, eaque magnam facere possimus? Ex, nihil ullam?</p>
            </div>
          </div>
          <div class="accord">
            <h5 data-toggle="collapse" data-target="#serv7" aria-expanded="false">Construcția de blocuri locative <i class="fas fa-chevron-down"></i></h5>
            <div class="collapse" id="serv7">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui amet sapiente praesentium molestiae, eaque magnam facere possimus? Ex, nihil ullam?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=chisinau%20sciusev%2073&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
        <a href="https://elegantcoupons.com/divi-discount/"></a>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>
