<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="about-content">
  <section class="banner-about">
    <div class="container">
      <div class="row">
        <div class="col-12 border-bot">
          <h3>
            <small>We Would Love To</small>
            <span>See You Smile</span>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically incubate intuitive opportunities and real-time potentialities. Globally revolutionize global sources through interoperable services.</p>
          <p>Appropriately communicate one-to-one technology after plug-and-play networks and worldwide potentialities.</p>
        </div>
        <div class="col-md-4">
          <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline.</p>
          <p>Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration. Dramatically mesh low-risk high-yield alignments before transparent e-tailers.</p>
        </div>
        <div class="col-md-4">
          <div class="ranges">
            <div class="range-bloc">
              <span>Client Satisfaction</span>
              <div class="range-container">
                <div class="range"></div>
              </div>
            </div>
            <div class="range-bloc">
              <span>Dental Success</span>
              <div class="range-container">
                <div class="range"></div>
              </div>
            </div>
            <div class="range-bloc">
              <span>Client Referral</span>
              <div class="range-container">
                <div class="range"></div>
              </div>
            </div>
            <div class="range-bloc">
              <span>Travel Satisfaction</span>
              <div class="range-container">
                <div class="range"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row services">
        <a href="a" class="col-lg-3 col-md-5 services-item">
            <img src="img/dev/services1.png" alt="">
            <div class="service-description">
              <div class="service-icon">
                <img src="img/svg/service-icon1.svg" alt="">
              </div>
              <p class="name">Dental Services</p>
              <p>Globally harness multimedia based collaboration and idea haring with backend products.</p>
            </div>
        </a>
        <a href="a" class="col-lg-3 col-md-5 services-item">
            <img src="img/dev/services2.png" alt="">
            <div class="service-description">
              <div class="service-icon">
                <img src="img/svg/service-icon2.svg" alt="">
              </div>
              <p class="name">Dental Implants</p>
              <p>Dramatically disseminate standardized metrics after resource-leveling processes.

              </p>
            </div>
        </a>
        <a href="a" class="col-lg-3 col-md-5 services-item">
            <img src="img/dev/services3.png" alt="">
            <div class="service-description">
              <div class="service-icon">
                <img src="img/svg/service-icon3.svg" alt="">
              </div>
              <p class="name">Surgery</p>
              <p>Proactively fabricate one-to-one materials via effective e-business services processes.</p>
            </div>
        </a>
        <a href="a" class="col-lg-3 col-md-5 services-item">
            <img src="img/dev/services4.png" alt="">
            <div class="service-description">
              <div class="service-icon">
                <img src="img/svg/service-icon4.svg" alt="">
              </div>
              <p class="name">Teeth Whitening</p>
              <p>Distinctively re-engineer revolutionary meta-services and premium architectures.</p>
            </div>
        </a>
      </div>
    </div>
  </section>
  <section class="book-visit">
    <img src="img/backgrounds/book-visit-doctor.png" alt="">
    <div class="book-visit-inner">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-7">
            <h3>
              <small>Write To Our</small>
              <span>Dental Office</span>
            </h3>
            <form action="" class="row">
              <div class="col-md-6">
                <input type="text" placeholder="Your Name">
              </div>
              <div class="col-md-6">
                <input type="text" placeholder="Your Email">
              </div>
              <div class="col-md-6">
                <div class="phone-container">
                  <div class="phone-select">
                    <img src="img/dev/germany.svg" alt="">
                    <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                      <title>Path</title>
                      <desc>Created with Sketch.</desc>
                      <defs>
                          <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                              <stop stop-color="#DFA1D5" offset="0%"></stop>
                              <stop stop-color="#005691" offset="100%"></stop>
                          </linearGradient>
                      </defs>
                      <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                              <g id="Header" transform="translate(-24.000000, -72.000000)">
                                  <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                      <g id="Group-5">
                                          <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                              <g id="left-arrow">
                                                  <g id="Group-3">
                                                      <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                    </svg>
                  </div>
                  <input type="text" placeholder="Phone Number">
                </div>
              </div>
              <div class="col-md-6">
                <input type="date" placeholder="Pick your appointment date">
              </div>
              <div class="col-md-6">
                <div class="button arrow-right">
                  <span>book appointment now</span>
                  <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                    <title>Path</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                        <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                            <stop stop-color="#DFA1D5" offset="0%"></stop>
                            <stop stop-color="#005691" offset="100%"></stop>
                        </linearGradient>
                    </defs>
                    <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                            <g id="Header" transform="translate(-24.000000, -72.000000)">
                                <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                    <g id="Group-5">
                                        <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                            <g id="left-arrow">
                                                <g id="Group-3">
                                                    <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                  </svg>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="map-contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <div class="hours-plan">
            <h5>Working Hours</h5>
            <p>Check out Montan Dentist’s Office hours to plan your visit.</p>
            <ul>
              <li><span>Monday</span><span>8AM-9PM</span></li>
              <li><span>Tuesday</span><span>8AM-9PM</span></li>
              <li><span>Wednesday</span><span>9AM-6:30PM</span></li>
              <li><span>Thursday</span><span>8AM-9PM</span></li>
              <li><span>Friday</span><span>8AM-9PM</span></li>
              <li><span>Saturday-Sunday</span><span>Closed</span></li>
            </ul>
            <h5>Need Flexible Time?</h5>
            <div class="button arrow-right">
              <span>suggest checkout time</span>
              <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                <title>Path</title>
                <desc>Created with Sketch.</desc>
                <defs>
                    <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                        <stop stop-color="#DFA1D5" offset="0%"></stop>
                        <stop stop-color="#005691" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                        <g id="Header" transform="translate(-24.000000, -72.000000)">
                            <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                <g id="Group-5">
                                    <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                        <g id="left-arrow">
                                            <g id="Group-3">
                                                <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=bucuresti&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a href="https://www.embedgooglemap.net"></a>
      </div>
      <style>.mapouter{text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/scripts.html').default)(data) %>

