<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="cke-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Regulamnete</h3>

        <div class="accordion" id="accordion">
          <div class="cke-content cke-content-accordion">
            <p
              class="title"
              data-toggle="collapse"
              data-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              2014
            </p>
            <div class="collapse" id="collapseExample" data-parent="#accordion">
              <div class="card card-body">
                <ul>
                  <li><a href="#">Demers PSRM_1</a></li>
                  <li><a href="#">Demers PSRM_2</a></li>
                  <li><a href="#">Demers PSRM_3</a></li>
                  <li>
                    <a href="#">Solicitare Ana Lucia Culev Directia Cultura</a>
                  </li>
                  <li>
                    <a href="#"
                      >Demers Primar general al Municipiului Chisinau</a
                    >
                  </li>
                  <li><a href="#">Solicitare Mihai Ghimpu PL_1</a></li>
                  <li><a href="#">Solicitare Mihai Ghimpu PL_2</a></li>
                  <li><a href="#">Solicitare Mihai Ghimpu PL_3</a></li>
                  <li><a href="#">Solicitare Vladimir Voronin PCRM_3</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="cke-content cke-content-accordion">
            <p
              class="title"
              data-toggle="collapse"
              data-target="#collapseExample1"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              2015
            </p>
            <div
              class="collapse"
              id="collapseExample1"
              data-parent="#accordion"
            >
              <div class="card card-body">
                <ul>
                  <li><a href="#">Solicitare Nistor Grozavu viceprimar</a></li>
                  <li><a href="#">Raspuns Directia Finante_1</a></li>
                  <li><a href="#">Raspuns Directia Finante_2</a></li>
                  <li>
                    <a href="#">Raspuns Directia Constructii Capitale_1</a>
                  </li>
                  <li>
                    <a href="#">Raspuns Directia Constructii Capitale_2</a>
                  </li>
                  <li>
                    <a href="#">Raspuns Directia Constructii Capitale_3</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="cke-content cke-content-accordion">
            <p
              class="title"
              data-toggle="collapse"
              data-target="#collapseExample2"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              2016
            </p>
            <div
              class="collapse"
              id="collapseExample2"
              data-parent="#accordion"
            >
              <div class="card card-body">
                <ul>
                  <li>
                    <a href="#">Solicitare Directia Cultura 01.02.16_1</a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 01.02.16_2</a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 03.02.16_1 </a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 03.02.16_2</a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 03.02.16_3</a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 26.08.16</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="cke-content cke-content-accordion">
            <p
              class="title"
              data-toggle="collapse"
              data-target="#collapseExample3"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              2017
            </p>
            <div
              class="collapse"
              id="collapseExample3"
              data-parent="#accordion"
            >
              <div class="card card-body">
                <ul>
                  <li><a href="#">Demers PSRM_1</a></li>
                  <li><a href="#">Demers PSRM_2</a></li>
                  <li><a href="#">Demers PSRM_3</a></li>
                  <li>
                    <a href="#">Solicitare Ana Lucia Culev Directia Cultura</a>
                  </li>
                  <li>
                    <a href="#"
                      >Demers Primar general al Municipiului Chisinau</a
                    >
                  </li>
                  <li><a href="#">Solicitare Mihai Ghimpu PL_1</a></li>
                  <li><a href="#">Solicitare Mihai Ghimpu PL_2</a></li>
                  <li><a href="#">Solicitare Mihai Ghimpu PL_3</a></li>
                  <li><a href="#">Solicitare Vladimir Voronin PCRM_3</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="cke-content cke-content-accordion">
            <p
              class="title"
              data-toggle="collapse"
              data-target="#collapseExample4"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              2018
            </p>
            <div
              class="collapse"
              id="collapseExample4"
              data-parent="#accordion"
            >
              <div class="card card-body">
                <ul>
                  <li><a href="#">Solicitare Nistor Grozavu viceprimar</a></li>
                  <li><a href="#">Raspuns Directia Finante_1</a></li>
                  <li><a href="#">Raspuns Directia Finante_2</a></li>
                  <li>
                    <a href="#">Raspuns Directia Constructii Capitale_1</a>
                  </li>
                  <li>
                    <a href="#">Raspuns Directia Constructii Capitale_2</a>
                  </li>
                  <li>
                    <a href="#">Raspuns Directia Constructii Capitale_3</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="cke-content cke-content-accordion">
            <p
              class="title"
              data-toggle="collapse"
              data-target="#collapseExample5"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              2019
            </p>
            <div
              class="collapse"
              id="collapseExample5"
              data-parent="#accordion"
            >
              <div class="card card-body">
                <ul>
                  <li>
                    <a href="#">Solicitare Directia Cultura 01.02.16_1</a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 01.02.16_2</a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 03.02.16_1 </a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 03.02.16_2</a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 03.02.16_3</a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 26.08.16</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="cke-content cke-content-accordion">
            <p
              class="title"
              data-toggle="collapse"
              data-target="#collapseExample6 "
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              2020
            </p>
            <div
              class="collapse"
              id="collapseExample6"
              data-parent="#accordion"
            >
              <div class="card card-body">
                <ul>
                  <li>
                    <a href="#">Solicitare Directia Cultura 01.02.16_1</a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 01.02.16_2</a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 03.02.16_1 </a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 03.02.16_2</a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 03.02.16_3</a>
                  </li>
                  <li>
                    <a href="#">Solicitare Directia Cultura 26.08.16</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
