<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="cke-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Istoric</h3>

        <section class="cke-content">
          <p>
            Biblioteca Municipală din Chişinău şi-a început activitatea la
            <b>19 octombrie 1877</b> cu 8073 volume, cărţi şi reviste, cedate
            oraşului în urma închiderii, din lipsă de mijloace ale Bibliotecii
            Guberniale, ultima fiind înfiinţată în 1832. După 25 ani de
            activitate Biblioteca Publică Municipală Chişinău a acumulat 40 mii
            de volume.
          </p>
          <p>
            În momentul Unirii cu România Biblioteca poseda aproximativ 100.000
            volume, dintre care numai o parte infimă de 200 volume erau în limba
            română, restul publicaţiilor fiind în limba rusă, franceză, germană
            etc.
          </p>
          <p>
            După 1918 Biblioteca a fost reorientată spre o activitate naţională.
            La 1932 din aproximativ 110 mii volume numărul publicat în limba
            română constituia 13.608 volume, iar în limba rusă 93.800, fapt
            pentru care Biblioteca era numită neoficial - rusă. Către anul 1938
            numărul total de documente nu s-a schimbat esenţial.
          </p>
          <p>
            În 1941 odată cu începerea celui de-al II-lea război mondial
            biblioteca a fost distrusă (a ars). De la 1902 şi până la 1940
            biblioteca a funcţionat în localul Primăriei Municipiului Chişinău,
            suprafaţa ei fiind în ultima perioadă de activitate de 1894 m.p.
          </p>
          <p>
            După război a fost reînfiinţată în noiembrie 1944 de către
            autorităţile sovietice cu denumirea de Biblioteca orăşenească N1.
            Iniţial ocupa o cameră de 10 m.p. în localul Inspectoratului de
            Învăţământ Chişinău pe str. Podoliei nr. 97 şi dispunea de 1900
            volume. La 1950 a fost transferată în clădirea fostului
            restaurant-cantină „Dnestr” (Nistru) pe str. Lenin, actualmente bd.
            Ştefan cel Mare şi Sfânt nr. 148, unde se află şi în prezent. Din
            acelaşi an – 1950 şi până în 1988 a purtat numele ideologului rus
            A.A. Jdanov. În primii ani de activitate biblioteca avea doar
            împrumut, sală de lectură, serviciul prelucrare a documentelor, o
            bibliotecă itinerantă şi 4 puncte de servire. Din anul 1975 până în
            1990 a fost în fruntea Sistemului Centralizat de biblioteci al
            oraşului Chişinău.
          </p>
          <p>
            Din 21 iunie 1988 Biblioteca Municipală poartă numele ilustrului om
            de cultură Bogdan Petriceicu Hasdeu.
          </p>
          În 1991 în urma decentralizării sistemelor de biblioteci, conform
          ordinului Ministerului Culturii şi Cultelor nr. 219 din 10 octombrie
          1991, Biblioteca Centrală orăşenească a primit statut de Bibliotecă
          Municipală.
        </section>

        <section class="gallery">
          <div class="row">
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery1.jpeg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery2.jpg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery3.jpg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery4.jpeg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery1.jpeg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery2.jpg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery3.jpg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery4.jpeg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
