<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="home-content">

  <div class="slider-home-banner">
    <section class="home-banner" style="background-image:url(img/dev/home-banner.jpg);">
      <div class="inner-banner">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-lg-8 col-12">
              <p>Care for your smile</p>
              <div class="title">
                Commited to excellence
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="home-banner" style="background-image:url(img/dev/home-banner.jpg);">
      <div class="inner-banner">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-lg-8 col-12">
              <p>Care for your smile</p>
              <div class="title">
                Commited to excellence
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="home-banner" style="background-image:url(img/dev/home-banner.jpg);">
      <div class="inner-banner">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-lg-8 col-12">
              <p>Care for your smile</p>
              <div class="title">
                Commited to excellence
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="appointment">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 col-12">
          <div class="slider-testimonials">
            <div>
              <div class="testimonial-item">
                <p>
                  <span>"</span>
                    My family trusts Dr Fischer completely, he’s been with us for years and as helped us on numerous occasions.
                  <span>"</span>
                </p>
                <img src="img/dev/testimonial-img.png" alt="">
                <div class="name">Patricia Wolf</div>
              </div>
            </div>
            <div>
              <div class="testimonial-item">
                <p>
                  <span>"</span>
                    My family trusts Dr Fischer completely, he’s been with us for years and as helped us on numerous occasions.
                  <span>"</span>
                </p>
                <img src="img/dev/testimonial-img.png" alt="">
                <div class="name">Patricia Wolf</div>
              </div>
            </div>
            <div>
              <div class="testimonial-item">
                <p>
                  <span>"</span>
                    My family trusts Dr Fischer completely, he’s been with us for years and as helped us on numerous occasions.
                  <span>"</span>
                </p>
                <img src="img/dev/testimonial-img.png" alt="">
                <div class="name">Patricia Wolf</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-12">
          <article>
            <h3>
              <span>Book Your Appointment</span>
            </h3>
            <div class="article-inner">
              <div>
                <img src="img/icons/icons-circle.svg" alt="">
              </div>
              <form action="">
                <input type="text" placeholder="Your Name">
                <input type="text" placeholder="Your Email">
                <input type="date" placeholder="Pick your appointment date">
                <div class="button"><span>book your dentist</span></div>
              </form>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="services">
    <div class="container">
      <div class="row justify-content-between align-items-center title-bloc">
        <div class="col-auto">
          <h3>
            <small>Our</small>
            <span>Services</span>
          </h3>
        </div>
        <div class="col-auto">
          <a href="#" class="button arrow-right">
            <span>view all</span>
            <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
              <title>Path</title>
              <desc>Created with Sketch.</desc>
              <defs>
                  <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                      <stop stop-color="#DFA1D5" offset="0%"></stop>
                      <stop stop-color="#005691" offset="100%"></stop>
                  </linearGradient>
              </defs>
              <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                      <g id="Header" transform="translate(-24.000000, -72.000000)">
                          <g id="Group-18" transform="translate(351.000000, 0.000000)">
                              <g id="Group-5">
                                  <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                      <g id="left-arrow">
                                          <g id="Group-3">
                                              <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="services-container">
      <div class="container">
        <div class="row">
          <a href="service-one.html" class="col-lg-3 col-md-5 services-item">
              <img src="img/dev/services1.png" alt="">
              <div class="service-description">
                <div class="service-icon">
                  <img src="img/svg/service-icon1.svg" alt="">
                </div>
                <p>Stomatologie generală</p>
              </div>
          </a>
          <a href="service-one.html" class="col-lg-3 col-md-5 services-item">
              <img src="img/dev/services2.png" alt="">
              <div class="service-description">
                <div class="service-icon">
                  <img src="img/svg/service-icon2.svg" alt="">
                </div>
                <p>Tratamentul endodontic la microscop</p>
              </div>
          </a>
          <a href="service-one.html" class="col-lg-3 col-md-5 services-item">
              <img src="img/dev/services3.png" alt="">
              <div class="service-description">
                <div class="service-icon">
                  <img src="img/svg/service-icon3.svg" alt="">
                </div>
                <p>Implanturi dentare</p>
              </div>
          </a>
          <a href="service-one.html" class="col-lg-3 col-md-5 services-item">
              <img src="img/dev/services4.png" alt="">
              <div class="service-description">
                <div class="service-icon">
                  <img src="img/svg/service-icon4.svg" alt="">
                </div>
                <p>Chirurgie</p>
              </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="team" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <h3>
            <small>About Us</small>
            <span>Specialized Team</span>
          </h3>
          <p>
            We are a team of dentists, hygienists and receptionists who work together to ensure that you receive the best treatment that you require at a very time that suits you.
          </p>
          <a href="#" class="button arrow-right">
            <span>learn more</span>
            <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
              <title>Path</title>
              <desc>Created with Sketch.</desc>
              <defs>
                  <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                      <stop stop-color="#DFA1D5" offset="0%"></stop>
                      <stop stop-color="#005691" offset="100%"></stop>
                  </linearGradient>
              </defs>
              <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                      <g id="Header" transform="translate(-24.000000, -72.000000)">
                          <g id="Group-18" transform="translate(351.000000, 0.000000)">
                              <g id="Group-5">
                                  <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                      <g id="left-arrow">
                                          <g id="Group-3">
                                              <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
      <div class="row team-container">
        <a href="#" class="col-lg-4">
          <div class="team-item">
            <img src="img/dev/team1.png" alt="">
            <div class="team-description">
              <div class="name">Steven Jacob</div>
              <span>general dentist</span>
            </div>
          </div>
        </a>
        <a href="#" class="col-lg-4">
          <div class="team-item">
            <img src="img/dev/team1.png" alt="">
            <div class="team-description">
              <div class="name">Steven Jacob</div>
              <span>general dentist</span>
            </div>
          </div>
        </a>
        <a href="#" class="col-lg-4">
          <div class="team-item">
            <img src="img/dev/team1.png" alt="">
            <div class="team-description">
              <div class="name">Steven Jacob</div>
              <span>general dentist</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="pre-team">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-auto">
          <a href="#" class="button-transparent">
            <span>View all doctors</span>
            <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
              <title>right-arrow</title>
              <desc>Created with Sketch.</desc>
              <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Main-Page" transform="translate(-1488.000000, -3136.000000)" fill="#BC68AA">
                      <g id="Doctors" transform="translate(372.000000, 2583.000000)">
                          <g id="Button" transform="translate(613.000000, 544.000000)">
                              <g id="right-arrow-2-copy" transform="translate(503.000000, 9.000000)">
                                  <g id="right-arrow">
                                      <path d="M13.4866608,17.9798731 C13.1536413,17.9803596 13.0436543,17.8303938 12.8825789,17.5077931 C12.7215036,17.1851924 12.8863177,16.6105296 13,16.5215936 L22.4284056,8.99780584 L12.8825789,1.57703174 C12.6512008,1.38918445 12.6430604,0.456909054 12.8825789,0.275446 C13.1162749,0.0984607786 13.678694,-0.0285073892 13.9123333,0.148477833 L24.7661345,8.6607931 C25.0015263,8.84544828 25.0015263,9.14479803 24.7661345,9.32949754 L13.9123333,17.8418128 C13.799386,17.9302167 13.6463021,17.9798731 13.4866608,17.9798731 Z" id="Path"></path>
                                      <path d="M23.340462,10.0725273 L1.37218087,10.0725273 C1.03916138,10.0725273 0.769173076,9.72561048 0.769173076,9.28598162 C0.769173076,8.84635276 1.03916138,8.30754062 1.37218087,8.30754062 L23.3405185,8.30754062 C23.673538,8.30754062 23.9435263,8.84635276 23.9435263,9.28598162 C23.9435263,9.72561048 23.6734815,10.0725273 23.340462,10.0725273 Z" id="Path"></path>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
            </svg>
          </a>
          
        </div>
      </div>
    </div>
  </section>

  <section class="book-visit">
    <img src="img/backgrounds/book-visit-doctor.png" alt="">
    <div class="book-visit-inner">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-7 col-12">
            <h3>
              <small>Book Your Visit At</small>
              <span>Montan Dentis</span>
            </h3>
            <form action="" class="row">
              <div class="col-md-6">
                <input type="text" placeholder="Your Name">
              </div>
              <div class="col-md-6">
                <input type="text" placeholder="Your Email">
              </div>
              <div class="col-md-6">
                <div class="phone-container">
                  <div class="phone-select">
                    <img src="img/dev/germany.svg" alt="">
                    <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                      <title>Path</title>
                      <desc>Created with Sketch.</desc>
                      <defs>
                          <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                              <stop stop-color="#DFA1D5" offset="0%"></stop>
                              <stop stop-color="#005691" offset="100%"></stop>
                          </linearGradient>
                      </defs>
                      <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                              <g id="Header" transform="translate(-24.000000, -72.000000)">
                                  <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                      <g id="Group-5">
                                          <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                              <g id="left-arrow">
                                                  <g id="Group-3">
                                                      <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                    </svg>
                  </div>
                  <input type="text" placeholder="Phone Number">
                </div>
              </div>
              <div class="col-md-6">
                <input type="date" placeholder="Pick your appointment date">
              </div>
              <div class="col-md-6">
                <div class="button arrow-right">
                  <span>book appointment now</span>
                  <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                    <title>Path</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                        <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                            <stop stop-color="#DFA1D5" offset="0%"></stop>
                            <stop stop-color="#005691" offset="100%"></stop>
                        </linearGradient>
                    </defs>
                    <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                            <g id="Header" transform="translate(-24.000000, -72.000000)">
                                <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                    <g id="Group-5">
                                        <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                            <g id="left-arrow">
                                                <g id="Group-3">
                                                    <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                  </svg>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="solutions">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-6">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/service-icon1.svg" alt="">
            </div>
            <div class="name">Stomatologie generală</div>
            <p>Competently parallel task researched data process.</p>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/solution-icon2.svg" alt="">
            </div>
            <div class="name">Tratamentul endodontic la microscop</div>
            <p>Leverage other resource leveling convergence data.</p>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/service-icon3.svg" alt="">
            </div>
            <div class="name">Implanturi dentare</div>
            <p>Competently parallel task researched data process.</p>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/solution-icon4.svg" alt="">
            </div>
            <div class="name">Chirurgie</div>
            <p>Engage fully tested process top line platform clients.</p>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/solution-icon5.svg" alt="">
            </div>
            <div class="name">Lucrari dentare (protetice)</div>
            <p>Competently parallel task researched data process.</p>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/solution-icon6.svg" alt="">
            </div>
            <div class="name">Stomatologie cosmetica</div>
            <p>Leverage other resource leveling convergence data.</p>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/solution-icon7.svg" alt="">
            </div>
            <div class="name">Pedodontie</div>
            <p>Competently parallel task researched data process.</p>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/solution-icon8.svg" alt="">
            </div>
            <div class="name">Parodontologie</div>
            <p>Engage fully tested process top line platform clients.</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="button arrow-right">
      <span>view all solutions</span>
      <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
        <title>Path</title>
        <desc>Created with Sketch.</desc>
        <defs>
            <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                <stop stop-color="#DFA1D5" offset="0%"></stop>
                <stop stop-color="#005691" offset="100%"></stop>
            </linearGradient>
        </defs>
        <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                <g id="Header" transform="translate(-24.000000, -72.000000)">
                    <g id="Group-18" transform="translate(351.000000, 0.000000)">
                        <g id="Group-5">
                            <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                <g id="left-arrow">
                                    <g id="Group-3">
                                        <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
      </svg>
    </a>
  </section>

  <section class="tourism">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3>
            <small>About</small>
            <span>Tourism Dentar</span>
          </h3>
        </div>
        <div class="col-md-4">
          <div class="tourism-item">
            <div class="title">
              <img src="img/svg/tourism-icon1.svg" alt="">
              <span>Excursions</span>
            </div>
            <p>
              Objectively integrate enterprise-wide strategic theme areas with functionalized infrastructures foster collaborative thinking to further. 
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tourism-item">
            <div class="title">
              <img src="img/svg/tourism-icon2.svg" alt="">
              <span>Acommodation</span>
            </div>
            <p>
              Objectively integrate enterprise-wide strategic theme areas with functionalized infrastructures foster collaborative thinking to further. 
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tourism-item">
            <div class="title">
              <img src="img/svg/tourism-icon1.svg" alt="">
              <span>Excursions</span>
            </div>
            <p>
              Objectively integrate enterprise-wide strategic theme areas with functionalized infrastructures foster collaborative thinking to further. 
            </p>
          </div>
        </div>
        <div class="col-auto">
          <a href="#" class="button arrow-right">
            <span>learn more</span>
            <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
              <title>Path</title>
              <desc>Created with Sketch.</desc>
              <defs>
                  <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                      <stop stop-color="#DFA1D5" offset="0%"></stop>
                      <stop stop-color="#005691" offset="100%"></stop>
                  </linearGradient>
              </defs>
              <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                      <g id="Header" transform="translate(-24.000000, -72.000000)">
                          <g id="Group-18" transform="translate(351.000000, 0.000000)">
                              <g id="Group-5">
                                  <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                      <g id="left-arrow">
                                          <g id="Group-3">
                                              <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="news">
    <div class="container">
      <div class="row justify-content-between align-items-center title-bloc">
        <div class="col-auto">
          <h3>
            <small>Our</small>
            <span>News</span>
          </h3>
        </div>
        <div class="col-auto">
          <a href="#" class="button arrow-right">
            <span>view all</span>
            <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
              <title>Path</title>
              <desc>Created with Sketch.</desc>
              <defs>
                  <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                      <stop stop-color="#DFA1D5" offset="0%"></stop>
                      <stop stop-color="#005691" offset="100%"></stop>
                  </linearGradient>
              </defs>
              <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                      <g id="Header" transform="translate(-24.000000, -72.000000)">
                          <g id="Group-18" transform="translate(351.000000, 0.000000)">
                              <g id="Group-5">
                                  <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                      <g id="left-arrow">
                                          <g id="Group-3">
                                              <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="new-item">
            <div class="new-image">
              <img src="img/dev/new1.png" alt="">
              <div class="date">29 Aug 2020</div>
            </div>
            <div class="new-description">
              <div class="name">Root Canal Treatment – RCT Prevention is better than cure</div>
              <p>Maecenas interdum turpis vitae consectetur porttitor. Donec vel sem in nulla fringilla pretium non tincidunt mauris. Integer vulputate mollis...</p>
              <div class="row justify-content-end">
                <div class="col-auto">
                  <div class="button-transparent">
                    <span>Read more</span>
                    <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                      <title>right-arrow</title>
                      <desc>Created with Sketch.</desc>
                      <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Main-Page" transform="translate(-1488.000000, -3136.000000)" fill="#BC68AA">
                              <g id="Doctors" transform="translate(372.000000, 2583.000000)">
                                  <g id="Button" transform="translate(613.000000, 544.000000)">
                                      <g id="right-arrow-2-copy" transform="translate(503.000000, 9.000000)">
                                          <g id="right-arrow">
                                              <path d="M13.4866608,17.9798731 C13.1536413,17.9803596 13.0436543,17.8303938 12.8825789,17.5077931 C12.7215036,17.1851924 12.8863177,16.6105296 13,16.5215936 L22.4284056,8.99780584 L12.8825789,1.57703174 C12.6512008,1.38918445 12.6430604,0.456909054 12.8825789,0.275446 C13.1162749,0.0984607786 13.678694,-0.0285073892 13.9123333,0.148477833 L24.7661345,8.6607931 C25.0015263,8.84544828 25.0015263,9.14479803 24.7661345,9.32949754 L13.9123333,17.8418128 C13.799386,17.9302167 13.6463021,17.9798731 13.4866608,17.9798731 Z" id="Path"></path>
                                              <path d="M23.340462,10.0725273 L1.37218087,10.0725273 C1.03916138,10.0725273 0.769173076,9.72561048 0.769173076,9.28598162 C0.769173076,8.84635276 1.03916138,8.30754062 1.37218087,8.30754062 L23.3405185,8.30754062 C23.673538,8.30754062 23.9435263,8.84635276 23.9435263,9.28598162 C23.9435263,9.72561048 23.6734815,10.0725273 23.340462,10.0725273 Z" id="Path"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="new-item">
            <div class="new-image">
              <img src="img/dev/new2.png" alt="">
              <div class="date">18 Jun 2020</div>
            </div>
            <div class="new-description">
              <div class="name">Tooth Extraction – the final destination</div>
              <p>Maecenas interdum turpis vitae consectetur porttitor. Donec vel sem in nulla fringilla pretium non tincidunt mauris. Integer vulputate mollis...</p>
              <div class="row justify-content-end">
                <div class="col-auto">
                  <div class="button-transparent">
                    <span>Read more</span>
                    <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                      <title>right-arrow</title>
                      <desc>Created with Sketch.</desc>
                      <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Main-Page" transform="translate(-1488.000000, -3136.000000)" fill="#BC68AA">
                              <g id="Doctors" transform="translate(372.000000, 2583.000000)">
                                  <g id="Button" transform="translate(613.000000, 544.000000)">
                                      <g id="right-arrow-2-copy" transform="translate(503.000000, 9.000000)">
                                          <g id="right-arrow">
                                              <path d="M13.4866608,17.9798731 C13.1536413,17.9803596 13.0436543,17.8303938 12.8825789,17.5077931 C12.7215036,17.1851924 12.8863177,16.6105296 13,16.5215936 L22.4284056,8.99780584 L12.8825789,1.57703174 C12.6512008,1.38918445 12.6430604,0.456909054 12.8825789,0.275446 C13.1162749,0.0984607786 13.678694,-0.0285073892 13.9123333,0.148477833 L24.7661345,8.6607931 C25.0015263,8.84544828 25.0015263,9.14479803 24.7661345,9.32949754 L13.9123333,17.8418128 C13.799386,17.9302167 13.6463021,17.9798731 13.4866608,17.9798731 Z" id="Path"></path>
                                              <path d="M23.340462,10.0725273 L1.37218087,10.0725273 C1.03916138,10.0725273 0.769173076,9.72561048 0.769173076,9.28598162 C0.769173076,8.84635276 1.03916138,8.30754062 1.37218087,8.30754062 L23.3405185,8.30754062 C23.673538,8.30754062 23.9435263,8.84635276 23.9435263,9.28598162 C23.9435263,9.72561048 23.6734815,10.0725273 23.340462,10.0725273 Z" id="Path"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="new-item">
            <div class="new-image">
              <img src="img/dev/new3.png" alt="">
              <div class="date">15 Jun 2020</div>
            </div>
            <div class="new-description">
              <div class="name">Dental Hygiene-the dos and donts</div>
              <p>Duis vel orci erat. Aenean quis sem fringilla, scelerisque lectus et, vestibulum arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris...
              </p>
              <div class="row justify-content-end">
                <div class="col-auto">
                  <div class="button-transparent">
                    <span>Read more</span>
                    <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                      <title>right-arrow</title>
                      <desc>Created with Sketch.</desc>
                      <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Main-Page" transform="translate(-1488.000000, -3136.000000)" fill="#BC68AA">
                              <g id="Doctors" transform="translate(372.000000, 2583.000000)">
                                  <g id="Button" transform="translate(613.000000, 544.000000)">
                                      <g id="right-arrow-2-copy" transform="translate(503.000000, 9.000000)">
                                          <g id="right-arrow">
                                              <path d="M13.4866608,17.9798731 C13.1536413,17.9803596 13.0436543,17.8303938 12.8825789,17.5077931 C12.7215036,17.1851924 12.8863177,16.6105296 13,16.5215936 L22.4284056,8.99780584 L12.8825789,1.57703174 C12.6512008,1.38918445 12.6430604,0.456909054 12.8825789,0.275446 C13.1162749,0.0984607786 13.678694,-0.0285073892 13.9123333,0.148477833 L24.7661345,8.6607931 C25.0015263,8.84544828 25.0015263,9.14479803 24.7661345,9.32949754 L13.9123333,17.8418128 C13.799386,17.9302167 13.6463021,17.9798731 13.4866608,17.9798731 Z" id="Path"></path>
                                              <path d="M23.340462,10.0725273 L1.37218087,10.0725273 C1.03916138,10.0725273 0.769173076,9.72561048 0.769173076,9.28598162 C0.769173076,8.84635276 1.03916138,8.30754062 1.37218087,8.30754062 L23.3405185,8.30754062 C23.673538,8.30754062 23.9435263,8.84635276 23.9435263,9.28598162 C23.9435263,9.72561048 23.6734815,10.0725273 23.340462,10.0725273 Z" id="Path"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="map">
    <img src="img/dev/map.png" alt="">
  </section>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/scripts.html').default)(data) %>

