<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="home-content">
  <section class="banner-home">
    <img src="img/backgrounds/banner-home.png" alt="" />
    <div class="banner-inner">
      <img src="img/icons/logo-white-svg.svg" alt="" />
      <div class="search-container">
        <input type="text" placeholder="search" />
        <button>
          <svg
            viewBox="0 0 17 17"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g
              id="Site"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                class="search-svg header-right-svg"
                id="Home_Page_Hasdeu-Copy"
                transform="translate(-1626.000000, -36.000000)"
                fill="#363636"
                fill-rule="nonzero"
              >
                <g id="Header" transform="translate(1.000000, -5.000000)">
                  <g
                    id="left-arrow-2-copy-2"
                    transform="translate(1601.000000, 48.500000) rotate(-90.000000) translate(-1601.000000, -48.500000) translate(1591.000000, 8.000000)"
                  >
                    <g
                      id="left-arrow"
                      transform="translate(0.000000, 0.000000)"
                    >
                      <g id="Group-3" transform="translate(0.000000, 0.000000)">
                        <g
                          id="search"
                          transform="translate(9.000000, 73.000000) scale(-1, 1) translate(-9.000000, -73.000000) translate(1.000000, 65.000000)"
                        >
                          <path
                            d="M11.4351201,10.0629074 L10.7078473,10.0629074 L10.4562607,9.81132075 C11.3527873,8.77302744 11.8924957,7.42367067 11.8924957,5.9462693 C11.8924957,2.66209262 9.23040309,0 5.9462693,0 C2.66213551,0 0,2.66209262 0,5.9462693 C0,9.23044597 2.66209262,11.8925386 5.9462693,11.8925386 C7.42367067,11.8925386 8.77302744,11.3527873 9.81132075,10.4608491 L10.0629074,10.7124357 L10.0629074,11.4351201 L14.6369211,16 L16,14.6369211 L11.4351201,10.0629074 Z M6,10 C3.791125,10 2,8.208875 2,6 C2,3.791125 3.791125,2 6,2 C8.208875,2 10,3.791125 10,6 C10,8.208875 8.208875,10 6,10 Z"
                            id="Shape"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </button>
      </div>
      <div class="adv">
        <a href="#">Advanced search</a>
      </div>
    </div>
  </section>

  <section class="slider-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h3>Cărți</h3>
          <div class="slider-standard slider-fixed-width">
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod1.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod2.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod3.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod4.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod5.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
          </div>
        </div>
        <div class="col-md-auto">
          <a href="#" class="button"><span>Vezi toate cartile</span></a>
        </div>
      </div>
    </div>
  </section>

  <section class="slider-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h3>Cărți electronice</h3>
          <div class="slider-standard slider-fixed-width">
            <div class="item-slider-standard book-item electron-book">
              <a href="one-product.html" class="image-container">
                <div class="icon"></div>
                <img src="img/dev/prod1.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item electron-book">
              <a href="one-product.html" class="image-container">
                <div class="icon"></div>
                <img src="img/dev/prod2.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item electron-book">
              <a href="one-product.html" class="image-container">
                <div class="icon"></div>
                <img src="img/dev/prod3.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item electron-book">
              <a href="one-product.html" class="image-container">
                <div class="icon"></div>
                <img src="img/dev/prod4.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item electron-book">
              <a href="one-product.html" class="image-container">
                <div class="icon"></div>
                <img src="img/dev/prod5.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
          </div>
        </div>
        <div class="col-md-auto">
          <a href="#" class="button"><span>Vezi toate cartile</span></a>
        </div>
      </div>
    </div>
  </section>

  <section class="slider-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h3>Cărți audio</h3>
          <div class="slider-standard slider-fixed-width">
            <div class="item-slider-standard book-item audio-book">
              <a href="one-product.html" class="image-container">
                <div class="icon"></div>
                <img src="img/dev/prod1.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item audio-book">
              <a href="one-product.html" class="image-container">
                <div class="icon"></div>
                <img src="img/dev/prod2.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item audio-book">
              <a href="one-product.html" class="image-container">
                <div class="icon"></div>
                <img src="img/dev/prod3.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item audio-book">
              <a href="one-product.html" class="image-container">
                <div class="icon"></div>
                <img src="img/dev/prod4.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item audio-book">
              <a href="one-product.html" class="image-container">
                <div class="icon"></div>
                <img src="img/dev/prod5.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
          </div>
        </div>
        <div class="col-md-auto">
          <a href="#" class="button"><span>Vezi toate cartile</span></a>
        </div>
      </div>
    </div>
  </section>

  <section class="slider-section film-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3>Cărți audio</h3>
        </div>
      </div>
    </div>
    <div class="slider-standard slider-standard-film">
      <div class="item-slider-standard book-item film-item">
        <a href="one-product.html" class="image-container">
          <img src="img/dev/film1.png" alt="" />
          <div class="description">
            <p class="product-name">Femei de Oscar</p>
            <span>2013, Drama</span>
          </div>
        </a>
      </div>
      <div class="item-slider-standard book-item film-item">
        <a href="one-product.html" class="image-container">
          <img src="img/dev/film2.png" alt="" />
          <div class="description">
            <p class="product-name">Femei de Oscar</p>
            <span>2013, Drama</span>
          </div>
        </a>
      </div>
      <div class="item-slider-standard book-item film-item">
        <a href="one-product.html" class="image-container">
          <img src="img/dev/film3.png" alt="" />
          <div class="description">
            <p class="product-name">Femei de Oscar</p>
            <span>2013, Drama</span>
          </div>
        </a>
      </div>
      <div class="item-slider-standard book-item film-item">
        <a href="one-product.html" class="image-container">
          <img src="img/dev/film1.png" alt="" />
          <div class="description">
            <p class="product-name">Femei de Oscar</p>
            <span>2013, Drama</span>
          </div>
        </a>
      </div>
      <div class="item-slider-standard book-item film-item">
        <a href="one-product.html" class="image-container">
          <img src="img/dev/film5.png" alt="" />
          <div class="description">
            <p class="product-name">Femei de Oscar</p>
            <span>2013, Drama</span>
          </div>
        </a>
      </div>
      <div class="item-slider-standard book-item film-item">
        <a href="one-product.html" class="image-container">
          <img src="img/dev/film3.png" alt="" />
          <div class="description">
            <p class="product-name">Femei de Oscar</p>
            <span>2013, Drama</span>
          </div>
        </a>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-auto">
          <a href="#" class="button"><span>Vezi toate filmele</span></a>
        </div>
      </div>
    </div>
  </section>

  <section class="slider-section blog-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-auto col-12">
          <h3>Articole/postări blog</h3>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <a href="#" class="blog-item">
                <img src="img/dev/blog1.png" alt="" />
                <div class="blog-description">
                  <div class="date">
                    <span>25</span>
                    <span>Apr</span>
                  </div>
                  <div>
                    <p class="blog-title">
                      Lecturi cu voce tare: Inițiativă civică
                    </p>
                    <p>
                      Inițiativa educațională VOI STAȚI ACASĂ, NOI POVESTIM,
                      aduce mai aproape satisfacția lecturii, semnificația
                      profundă
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6">
              <a href="#" class="blog-item">
                <img src="img/dev/blog1.png" alt="" />
                <div class="blog-description">
                  <div class="date">
                    <span>25</span>
                    <span>Apr</span>
                  </div>
                  <div>
                    <p class="blog-title">
                      Lecturi cu voce tare: Inițiativă civică
                    </p>
                    <p>
                      Inițiativa educațională VOI STAȚI ACASĂ, NOI POVESTIM,
                      aduce mai aproape satisfacția lecturii, semnificația
                      profundă
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6">
              <a href="#" class="blog-item">
                <img src="img/dev/blog1.png" alt="" />
                <div class="blog-description">
                  <div class="date">
                    <span>25</span>
                    <span>Apr</span>
                  </div>
                  <div>
                    <p class="blog-title">
                      Lecturi cu voce tare: Inițiativă civică
                    </p>
                    <p>
                      Inițiativa educațională VOI STAȚI ACASĂ, NOI POVESTIM,
                      aduce mai aproape satisfacția lecturii, semnificația
                      profundă
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-auto">
          <a href="#" class="button"><span>Vezi toate cartile</span></a>
        </div>
      </div>
    </div>
  </section>

  <section class="event-section">
    <img src="img/dev/event-banner.jpg" alt="" />
    <div class="event-text">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p class="title">evenimentele noastre</p>
          </div>
          <div class="col-md-auto">
            <a href="#" class="button"><span>Vezi evenimentele</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slider-section children-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h3>Cărți pentru copii</h3>
          <div class="slider-standard slider-fixed-width">
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod1.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod2.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod3.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod4.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod5.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
          </div>
        </div>
        <div class="col-md-auto">
          <a href="#" class="button button-white"
            ><span>Vezi toate cartile</span></a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="slider-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h3>Pentru Adolescenți / Tineri</h3>
          <div class="slider-standard slider-fixed-width">
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod1.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod2.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod3.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod4.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod5.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
          </div>
        </div>
        <div class="col-md-auto">
          <a href="#" class="button"><span>Vezi toate cartile</span></a>
        </div>
      </div>
    </div>
  </section>

  <section class="slider-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h3>Pentru Adulți</h3>
          <div class="slider-standard slider-fixed-width">
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod1.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod2.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod3.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod4.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
            <div class="item-slider-standard book-item">
              <a href="one-product.html" class="image-container">
                <img src="img/dev/prod5.png" alt="" />
              </a>
              <a href="one-product.html" class="product-name">Femei de Oscar</a>
              <span>Humanitas</span>
            </div>
          </div>
        </div>
        <div class="col-md-auto">
          <a href="#" class="button"><span>Vezi toate cartile</span></a>
        </div>
      </div>
    </div>
  </section>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
