<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="news-content new-one-content">
  <section class="banner-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-auto col-12">
          <h1>Tooth extraction aftercare: A how-to guide</h1>
        </div>
        <div class="col-lg-8 col-12">
          <p>
            <span>
              <svg width="89px" height="89px" viewBox="0 0 89 89" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 52 (66869) - http://www.bohemiancoding.com/sketch -->
                <title>clock</title>
                <desc>Created with Sketch.</desc>
                <g id="clock" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g class="banner-page-icon" transform="translate(0.000000, 1.000000)" fill="#BC68AA" id="Path">
                        <path d="M78.7402344,23.154785 C76.9176432,24.0365398 76.1549479,26.2297363 77.0367024,28.0514323 C79.445638,33.0277507 80.6666667,38.391683 80.6666667,44 C80.6666667,64.217692 64.217692,80.6666667 44,80.6666667 C23.782308,80.6666667 7.33333333,64.217692 7.33333333,44 C7.33333333,23.782308 23.782308,7.33333333 44,7.33333333 C52.3780111,7.33333333 60.2484538,10.0690104 66.7626953,15.2440592 C68.342692,16.5053712 70.6531577,16.2412924 71.9144695,14.6559245 C73.1757812,13.0714517 72.9117024,10.7636719 71.3254394,9.50415033 C63.6134441,3.37483713 53.9087727,0 44,0 C19.7396648,0 0,19.7396648 0,44 C0,68.2603352 19.7396648,88 44,88 C68.2603352,88 88,68.2603352 88,44 C88,37.2771809 86.531901,30.834554 83.6368816,24.858317 C82.7569174,23.0321451 80.5565592,22.2712403 78.7402344,23.154785 Z"></path>
                        <path d="M44.7142857,14 C42.6639928,14 41,15.6924371 41,17.7777778 L41,44.2222222 C41,46.3075629 42.6639928,48 44.7142857,48 L63.2857143,48 C65.3360072,48 67,46.3075629 67,44.2222222 C67,42.1368816 65.3360072,40.4444444 63.2857143,40.4444444 L48.4285714,40.4444444 L48.4285714,17.7777778 C48.4285714,15.6924371 46.7645786,14 44.7142857,14 Z"></path>
                    </g>
                </g>
              </svg>
              October 21, 2019
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="news">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12 cke">
          <p>A dentist or dental surgeon will perform the extraction in their clinic and then give the person some instructions for caring for the area as it heals.</p>
          <p>During the appointment, the dental surgeon will inject a strong anesthetic into the area around the tooth to prevent the person from feeling any pain. They will then use a series of instruments to loosen the tooth before pulling it out.</p>
          <p>After removing the tooth, they will place gauze over the extraction site to help control bleeding and promote clotting.</p>
          <p>Learn more about tooth extraction aftercare in this article. We also provide a general healing timeline and explain when to speak to a dentist.</p>
          <h4>Aftercare</h4>
          <p>Aftercare for an extracted tooth can vary slightly depending on a few factors.</p>
          <p>These include which tooth the dentist took out, as some teeth have deeper roots than others and take longer to heal. However, most people find that pain decreases after about 3 days.</p>
          <p>One of the most important aspects of aftercare is maintaining the blood clot that forms in the socket where the tooth used to be.</p>
          <p>Caring for this blood clot is key to the healing process, and it helps prevent painful complications, such as dry socket.</p>
          <img src="img/dev/new1.png" alt="">
          <h4>Days 1–2</h4>
          <p>Much of the aftercare in the first couple of days following an extraction focuses on allowing a blood clot to form and caring for the mouth in general.</p>
          <p>As some experts note, low level bleeding for up to 24 hours after an extraction is perfectly normal. However, active bleeding after this point requires treatment.</p>
          <p>
            Here are a few additional tips for the first 2 days of aftercare:
            <ul>
              <li><b>Get plenty of rest:</b> Expect to be resting for at least the first 24 hours after the extraction.</li>
              <li><b>Change the gauze as necessary:</b> It is important to leave the first gauze in the mouth for at least a few hours to allow the clot to form. After this, it is fine to change the gauze as often as necessary.</li>
              <li><b>Avoid rinsing:</b> As tempting as it can be, avoid rinsing, swishing, or gargling anything in the mouth while the area is still clotting. These actions may dislodge any clot that is forming and affect the healing time.</li>
              <li><b>Do not use straws:</b> Using a straw places a lot of pressure on the healing wound, which can easily dislodge the blood clot.</li>
              <li><b>Do not spit:</b> Spitting also creates pressure in the mouth, which may dislodge the blood clot.</li>
              <li><b>Avoid blowing the nose or sneezing:</b>  If the surgeon removed a tooth from the upper half of the mouth, blowing the nose or sneezing can create pressure in the head that may dislodge the developing blood clot. Avoid blowing the nose and sneezing if possible.</li>
            </ul>
          </p>
          <img src="img/dev/new2.png" alt="">
          <h4>Days 3–10</h4>
          <p>After the clot has formed, it is vital to keep it securely in place and to follow some extra steps for oral hygiene to help prevent other issues.</p>
          <p>
            Here are a few additional tips for the first 2 days of aftercare:
            <ul>
              <li><b>Get plenty of rest:</b> Expect to be resting for at least the first 24 hours after the extraction.</li>
              <li><b>Change the gauze as necessary:</b> It is important to leave the first gauze in the mouth for at least a few hours to allow the clot to form. After this, it is fine to change the gauze as often as necessary.</li>
              <li><b>Avoid rinsing:</b> As tempting as it can be, avoid rinsing, swishing, or gargling anything in the mouth while the area is still clotting. These actions may dislodge any clot that is forming and affect the healing time.</li>
              <li><b>Do not use straws:</b> Using a straw places a lot of pressure on the healing wound, which can easily dislodge the blood clot.</li>
              <li><b>Do not spit:</b> Spitting also creates pressure in the mouth, which may dislodge the blood clot.</li>
              <li><b>Avoid blowing the nose or sneezing:</b>  If the surgeon removed a tooth from the upper half of the mouth, blowing the nose or sneezing can create pressure in the head that may dislodge the developing blood clot. Avoid blowing the nose and sneezing if possible.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/scripts.html').default)(data) %>

