<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="news-content new-one-content">
  <section class="banner">
    <div class="container">
      <div class="row">
        <ul class="col-lg-8 col-12 crumbs">
          <li><a href="/">Home</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="news.html">Teeth</a></li>
        </ul>
        <div class="col-lg-auto col-12">
          <h1>Tooth extraction aftercare: A how-to guide</h1>
        </div>
        <div class="col-lg-8 col-12">
          <p><span>October 21, 2019</span> <span>by Everest Whiting</span></p>
        </div>
      </div>
    </div>
  </section>
  <section class="news">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12 cke">
          <p>A dentist or dental surgeon will perform the extraction in their clinic and then give the person some instructions for caring for the area as it heals.</p>
          <p>During the appointment, the dental surgeon will inject a strong anesthetic into the area around the tooth to prevent the person from feeling any pain. They will then use a series of instruments to loosen the tooth before pulling it out.</p>
          <p>After removing the tooth, they will place gauze over the extraction site to help control bleeding and promote clotting.</p>
          <p>Learn more about tooth extraction aftercare in this article. We also provide a general healing timeline and explain when to speak to a dentist.</p>
          <h4>Aftercare</h4>
          <p>Aftercare for an extracted tooth can vary slightly depending on a few factors.</p>
          <p>These include which tooth the dentist took out, as some teeth have deeper roots than others and take longer to heal. However, most people find that pain decreases after about 3 days.</p>
          <p>One of the most important aspects of aftercare is maintaining the blood clot that forms in the socket where the tooth used to be.</p>
          <p>Caring for this blood clot is key to the healing process, and it helps prevent painful complications, such as dry socket.</p>
          <img src="img/dev/new1.png" alt="">
          <h4>Days 1–2</h4>
          <p>Much of the aftercare in the first couple of days following an extraction focuses on allowing a blood clot to form and caring for the mouth in general.</p>
          <p>As some experts note, low level bleeding for up to 24 hours after an extraction is perfectly normal. However, active bleeding after this point requires treatment.</p>
          <p>
            Here are a few additional tips for the first 2 days of aftercare:
            <ul>
              <li><b>Get plenty of rest:</b> Expect to be resting for at least the first 24 hours after the extraction.</li>
              <li><b>Change the gauze as necessary:</b> It is important to leave the first gauze in the mouth for at least a few hours to allow the clot to form. After this, it is fine to change the gauze as often as necessary.</li>
              <li><b>Avoid rinsing:</b> As tempting as it can be, avoid rinsing, swishing, or gargling anything in the mouth while the area is still clotting. These actions may dislodge any clot that is forming and affect the healing time.</li>
              <li><b>Do not use straws:</b> Using a straw places a lot of pressure on the healing wound, which can easily dislodge the blood clot.</li>
              <li><b>Do not spit:</b> Spitting also creates pressure in the mouth, which may dislodge the blood clot.</li>
              <li><b>Avoid blowing the nose or sneezing:</b>  If the surgeon removed a tooth from the upper half of the mouth, blowing the nose or sneezing can create pressure in the head that may dislodge the developing blood clot. Avoid blowing the nose and sneezing if possible.</li>
            </ul>
          </p>
          <img src="img/dev/new2.png" alt="">
          <h4>Days 3–10</h4>
          <p>After the clot has formed, it is vital to keep it securely in place and to follow some extra steps for oral hygiene to help prevent other issues.</p>
          <p>
            Here are a few additional tips for the first 2 days of aftercare:
            <ul>
              <li><b>Get plenty of rest:</b> Expect to be resting for at least the first 24 hours after the extraction.</li>
              <li><b>Change the gauze as necessary:</b> It is important to leave the first gauze in the mouth for at least a few hours to allow the clot to form. After this, it is fine to change the gauze as often as necessary.</li>
              <li><b>Avoid rinsing:</b> As tempting as it can be, avoid rinsing, swishing, or gargling anything in the mouth while the area is still clotting. These actions may dislodge any clot that is forming and affect the healing time.</li>
              <li><b>Do not use straws:</b> Using a straw places a lot of pressure on the healing wound, which can easily dislodge the blood clot.</li>
              <li><b>Do not spit:</b> Spitting also creates pressure in the mouth, which may dislodge the blood clot.</li>
              <li><b>Avoid blowing the nose or sneezing:</b>  If the surgeon removed a tooth from the upper half of the mouth, blowing the nose or sneezing can create pressure in the head that may dislodge the developing blood clot. Avoid blowing the nose and sneezing if possible.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/scripts.html').default)(data) %>

