<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="news-content">
  <section class="banner-page">
    <div class="container">
      <div class="row">
        <ul class="col-lg-8 col-12 crumbs">
          <li><a href="/">Home</a></li>
          <li><a href="news.html">News</a></li>
        </ul>
        <div class="col-lg-8 col-12">
          <h1>News</h1>
        </div>
        <div class="col-lg-8 col-12">
          <p>Globally harness multimedia based collaboration and idea-sharing with backend products. Continually whiteboard superior opportunities via covalent scenarios.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="news">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="row news-item">
            <div class="col-auto">
              <div class="author">
                <img src="img/dev/testimonial-img.png" alt="">
                <p>by Constantin Constantin</p>
                <span>May 25, 2020</span>
              </div>
            </div>
            <div class="col">
              <article>
                <div class="slider-news-item">
                  <a href="new-one.html" class="slider-item">
                    <img src="img/dev/new1.png" alt="">
                  </a>
                </div>
                <ul class="crumbs">
                  <li><a href="news.html">News</a></li>
                  <li><a href="#">Prevention</a></li>
                  <li><a href="#">Teeth</a></li>
                </ul>
                <a href="new-one.html"><h3>Tooth extraction aftercare: A how-to guide</h3></a>
                <p>Tooth extraction involves completely removing a tooth from the mouth. People may require tooth extraction for many reasons, ranging from tooth decay to crowded teeth.</p>
                <div class="row justify-content-end">
                  <div class="col-auto">
                    <a href="new-one.html" class="button arrow-right">
                      <span>view all</span>
                      <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                        <title>Path</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                            <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                                <stop stop-color="#DFA1D5" offset="0%"></stop>
                                <stop stop-color="#005691" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                                <g id="Header" transform="translate(-24.000000, -72.000000)">
                                    <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                        <g id="Group-5">
                                            <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                                <g id="left-arrow">
                                                    <g id="Group-3">
                                                        <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-12">
          <div class="row news-item">
            <div class="col-auto">
              <div class="author">
                <img src="img/dev/testimonial-img.png" alt="">
                <p>by Emma Churchil</p>
                <span>May 25, 2020</span>
              </div>
            </div>
            <div class="col">
              <article>
                <div class="slider-news-item">
                  <a href="new-one.html" class="slider-item">
                    <img src="img/dev/new2.png" alt="">
                  </a>
                </div>
                <ul class="crumbs">
                  <li><a href="news.html">News</a></li>
                  <li><a href="#">Prevention</a></li>
                  <li><a href="#">Teeth</a></li>
                </ul>
                <a href="new-one.html"><h3>The unexpected dangers of gum disease</h3></a>
                <p>Dentists and oral surgeons perform tooth extractions for many reasons. The issue may be a painful wisdom tooth or a tooth that has been badly damaged by decay. In some cases, a dentist will remove a tooth to make space for dental prosthetics or braces.</p>
                <div class="row justify-content-end">
                  <div class="col-auto">
                    <a href="new-one.html" class="button arrow-right">
                      <span>view all</span>
                      <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                        <title>Path</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                            <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                                <stop stop-color="#DFA1D5" offset="0%"></stop>
                                <stop stop-color="#005691" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                                <g id="Header" transform="translate(-24.000000, -72.000000)">
                                    <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                        <g id="Group-5">
                                            <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                                <g id="left-arrow">
                                                    <g id="Group-3">
                                                        <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-12">
          <div class="row news-item">
            <div class="col-auto">
              <div class="author">
                <img src="img/dev/testimonial-img.png" alt="">
                <p>by Emma Churchil</p>
                <span>May 25, 2020</span>
              </div>
            </div>
            <div class="col">
              <article>
                <div class="slider-news-item">
                  <a href="new-one.html" class="slider-item">
                    <img src="img/dev/new3.png" alt="">
                  </a>
                </div>
                <ul class="crumbs">
                  <li><a href="news.html">News</a></li>
                  <li><a href="#">Prevention</a></li>
                  <li><a href="#">Teeth</a></li>
                </ul>
                <a href="new-one.html"><h3>What to know about tooth extraction</h3></a>
                <p>Tooth extraction involves completely removing a tooth from the mouth. People may require tooth extraction for many reasons, ranging from tooth decay to crowded teeth.</p>
                <div class="row justify-content-end">
                  <div class="col-auto">
                    <a href="new-one.html" class="button arrow-right">
                      <span>view all</span>
                      <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                        <title>Path</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                            <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                                <stop stop-color="#DFA1D5" offset="0%"></stop>
                                <stop stop-color="#005691" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                                <g id="Header" transform="translate(-24.000000, -72.000000)">
                                    <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                        <g id="Group-5">
                                            <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                                <g id="left-arrow">
                                                    <g id="Group-3">
                                                        <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/scripts.html').default)(data) %>

