<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="cke-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <ul class="nav-politiques">
          <li><a href="rules.html">Regulamentul de ordine interioară</a></li>
          <li><a href="raports.html">Rapoarte</a></li>
          <li><a href="strategies.html">Strategii</a></li>
        </ul>
      </div>
      <div class="col-lg-9 col-md-8">
        <h3>Regulamnete</h3>

        <div class="accordion" id="accordion">
          <div class="cke-content cke-content-accordion">
            <p
              class="title"
              data-toggle="collapse"
              data-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              RECOMANDĂRI PRIVIND MANAGEMENTUL SITUAȚIILOR GENERATE DE PANDEMIA
              COVID-19 ȘI PREVENIREA LOR ÎN CADRUL BIBLIOTECII MUNICIPALE „B.P.
              HASDEU”
            </p>
            <div class="collapse" id="collapseExample" data-parent="#accordion">
              <div class="card card-body">
                <p>
                  Situația pandemică i-a obligat pe mulți dintre chișinăuieni să
                  stea în casă. În această perioadă dificilă, Biblioteca
                  Municipală „B.P. Hasdeu”, asemenea celor din întreaga lume, a
                  fost profund afectată de apariția și răspândirea cu rapiditate
                  a COVID-19. Astfel, rețeaua de biblioteci publice municipale
                  s-a confruntat cu diverse provocări conexe serviciilor
                  oferite, începând, inițial, cu aplicarea restricțiilor minime,
                  până la închiderea completă a acestora pentru public. Urmare a
                  adoptării diverselor politici, inițiative la nivel de guvern,
                  dar și de administrație locală, Biblioteca Municipală „B.P.
                  Hasdeu” a reușit să se mențină în vizorul utilizatorilor, dar
                  să și ofere o gamă de servicii informaționale, asigurând
                  funcționalitatea sa în mediul online.
                </p>
                <p>
                  Aceste recomandări oferă suport de planificare și realizare a
                  activităților, serviciilor, garantând, astfel, riscul minor de
                  contagiere și de răspândire a COVID-19, atât pentru angajați,
                  cât și pentru utilizatori.
                </p>
                <p>
                  Pregătirea pentru redeschiderea graduală a Bibliotecii
                  Municipale „B.P. Hasdeu” include o serie de pași pentru
                  ridicarea, cel puțin parțială, și/sau anularea restricțiilor,
                  așa încât să poată face parte din viața chișinăuienelor atât
                  offline, cât și online.
                </p>
                <p>
                  Angajații Bibliotecii Municipale „B.P. Hasdeu” se vor conduce
                  strict de cerințele de securitate și sănătate în muncă din
                  recomandarea de față, de recomandările instituțiilor naționale
                  și ale administrației publice locale.
                </p>
              </div>
            </div>
          </div>

          <div class="cke-content cke-content-accordion">
            <p
              class="title"
              data-toggle="collapse"
              data-target="#collapseExample1"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              I.MĂSURI DE PROTECȚIE ȘI IGIENĂ ALE ANGAJAȚILOR LA BIBLIOTECA
              MUNICIPALĂ „B.P. HASDEU”
            </p>
            <div
              class="collapse"
              id="collapseExample1"
              data-parent="#accordion"
            >
              <div class="card card-body">
                <ul>
                  <li>
                    Dotarea bibliotecilor-filiale, inclusiv și a altor
                    structuri, cu stocuri de substanțe, materiale de igienizare
                    și dezinfecție: săpun lichid, dezinfectant pentru mâini,
                    măști, mănuși de cauciuc, dezinfectant efervescent clorigen,
                    soluție pentru podea și mobilier, hârtie igienică.
                  </li>
                  <li>
                    nstalarea la intrarea în bibliotecă, în spații vizibile, a
                    dozatoarelor cu dezinfectant pe bază de alcool și afișarea
                    inscripției „Dezinfectați mâinile”.
                  </li>
                  <li>
                    Marcarea zonelor de distanță fizică în incinta bibliotecii
                    și în proximitatea acesteia.
                  </li>
                  <li>
                    Aerisirea, ventilarea spațiilor la fiecare 3 ore timp de 15
                    minute, iar unde este posibil menținerea ușilor de acces
                    deschise.
                  </li>
                  <li>
                    Prelucrarea la fiecare oră a suprafețelor din mediul
                    ocupațional cu substanțe dezinfectante care trebuie să
                    corespundă indicațiilor de pe etichetă (timp de expunere şi
                    modalitatea de utilizare).
                  </li>
                  <li>
                    Dezinfectarea zonelor frecvent folosite, precum vestiare,
                    toalete, robinete de apă, uși / prosoape / rezervoare,
                    mânere, scaune și clapete, chiuvete, butoane de la uși,
                    întrerupătoare etc.
                  </li>
                  <li>
                    Dotarea tuturor secțiilor cu pungi de plastic (sau coșuri de
                    gunoi cu pedale) care permit strângerea gunoiului și
                    evacuarea acestuia.
                  </li>
                  <li>
                    Amplasarea în locurile accesibile din bibliotecă (de ex.
                    panoul cu informații) și pe site-ul bibliotecii a
                    informației despre regulile de prevenire a infecției cu
                    COVID-19, despre regulile de spălare a mâinilor și alte
                    informații utile.
                  </li>
                  <li>
                    Efectuarea controlului permanent privind asigurarea
                    măsurilor de igienă în spațiile bibliotecii.
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="cke-content cke-content-accordion">
            <p
              class="title"
              data-toggle="collapse"
              data-target="#collapseExample2"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              II.MĂSURI DE PROTECȚIE ȘI IGIENĂ ALE ANGAJAȚILOR LA BIBLIOTECA
              MUNICIPALĂ „B.P. HASDEU”
            </p>
            <div
              class="collapse"
              id="collapseExample2"
              data-parent="#accordion"
            >
              <div class="card card-body">
                <p>Până la începerea lucrului angajatul este obligat:</p>
                <ul>
                  <li>
                    În cazul în care simptomele sus-menționate apar pe parcursul
                    programului de muncă, angajatul va anunța conducătorul
                    locului de muncă.
                  </li>
                  <li>
                    Persoanele care prezintă simptomele enumerate mai sus sunt
                    obligate să rămână acasă și să apeleze la 112.
                  </li>
                  <li>
                    La serviciu sunt admise doar persoanele care nu prezintă
                    simptome cum ar fi: febră, rinoree, tusă seacă și
                    dificultăți de respirație.
                  </li>
                  <li>
                    În scopul evitării aglomerației în spațiile bibliotecii se
                    stabilesc culoare speciale de acces (de ex. marcate cu linii
                    sau/și buline roșii) în incintă și la intrare, atât pentru
                    angajați, cât și pentru utilizatori.
                  </li>
                  <li>
                    Angajații Bibliotecii Municipale „B.P. Hasdeu” își
                    desfășoară activitatea în echipament de prevenire și
                    protecție, respectând distanța fizică de cel puțin 1,5 - 2
                    metri.
                  </li>
                  <li>
                    să se asigure că e în capacitate deplină de muncă;
                  </li>
                  <li>
                    să își măsoare temperatura la începutul zilei/turei de muncă
                  </li>
                  <li>
                    să se asigure că nu prezintă simptomele enumerate mai sus;
                  </li>
                  <li>
                    să-și spele mâinile cu săpun și să aplice soluții
                    dezinfectante;
                  </li>
                  <li>
                    să dezinfecteze spațiile de lucru (masa de lucru, tastatura
                    calculatorului, mouse-ul etc.).
                  </li>
                </ul>
                <p>Pe parcursul programului de muncă angajatul este obligat:</p>
                <ul>
                  <li>
                    să respecte igiena personală prin spălarea mâinilor cu apă
                    și săpun cel puțin 20 de secunde sau să dezinfecteze cu
                    soluții eficiente: la fiecare oră de muncă; înainte de a lua
                    masa; după fiecare contact cu altă persoană;
                  </li>
                  <li>
                    să poarte mască de protecție;
                  </li>
                  <li>
                    să poarte mănuși de protecție;
                  </li>
                  <li>
                    să evite atingerea ochilor, nasului sau a gurii cu mâinile
                    neigienizate;
                  </li>
                  <li>
                    să acopere gura și nasul când tușesc sau strănută cu un
                    șervețel de unică folosință și să-l arunce după fiecare
                    folosire. În cazul lipsei unui șervețel la îndemână, se
                    tușește sau strănută în pliul cotului;
                  </li>
                  <li>
                    să dezinfecteze spațiile de lucru cel puțin la fiecare oră;
                  </li>
                  <li>
                    să păstreze continuu distanța fizică dintre colegi și
                    utilizatori (cel puțin 1,5 - 2 metri).
                  </li>
                </ul>
                <p>La terminarea lucrului angajatul este obligat:</p>
                <ul>
                  <li>
                    să aducă în ordine echipamentele de muncă, masa de lucru;
                  </li>
                  <li>
                    să dezinfecteze echipamentele și masa de lucru;
                  </li>
                  <li>
                    să efectueze igiena mâinilor cu apă și săpun;
                  </li>
                </ul>
                <p>
                  În situațiile de îmbolnăvire sau la apariția simptomelor
                  angajatul este obligat:
                </p>
                <ul>
                  <li>
                    să înștiințeze conducătorul despre starea sa de sănătate,
                    starea persoanei la care a observat aceste simptome;
                  </li>
                  <li>
                    să anunțe 112;
                  </li>
                  <li>
                    să se autoizoleze într-un loc cât mai departe de colegi.
                  </li>
                </ul>
                <p>
                  Purtarea unei măști nu scutește persoana de respectarea
                  distanței fizice și de igienizarea mâinilor. Eficacitatea
                  măștii este condiționată de utilizarea corectă a acesteia și
                  necesită:
                </p>
                <ul>
                  <li>
                    reglarea pe suprafața feții ca să acopere gura și nasul;
                  </li>
                  <li>
                    evitarea atingerii măștii atunci când este purtată;
                  </li>
                  <li>
                    întreținerea conform instrucțiunilor date de producător în
                    ceea ce privește spălarea (numărul de spălări, temperatură
                    etc.);
                  </li>
                  <li>
                    scoaterea exclusiv de curelușele fixatoare, fără să atingem
                    cu mâinile partea interioară sau exterioară.
                  </li>
                  <li>
                    După folosirea echipamentului utilizat, se recomandă
                    spălarea mâinilor cu săpun sau aplicarea soluțiilor
                    dezinfectante.
                  </li>
                  <li>
                    Echipamentul va fi aruncat în pungi (se recomandă coșuri cu
                    pedale sau capac) pentru deșeuri și ulterior se vor evacua.
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="cke-content cke-content-accordion">
            <p
              class="title"
              data-toggle="collapse"
              data-target="#collapseExample3"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              I.MĂSURI DE PROTECȚIE ȘI IGIENĂ ALE ANGAJAȚILOR LA BIBLIOTECA
              MUNICIPALĂ „B.P. HASDEU”
            </p>
            <div
              class="collapse"
              id="collapseExample3"
              data-parent="#accordion"
            >
              <div class="card card-body"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
