<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="cke-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Presentare</h3>

        <section class="cke-content">
          <p>
            Actuala Bibliotecă Municipală a fost inaugurată la 19 octombrie
            1877, iniţial ca bibliotecă orăşenească, apoi ca bibliotecă centrală
            orăşenească. În perioada 1975-1991 avea funcţia de bibliotecă
            centrală în sistemul centralizat al bibliotecilor publice din
            Chişinău şi statutul de bibliotecă municipală. În anii 1950-1988 a
            purtat numele ideologului bolşevic A.A. Jdanov, din 1988 - numele
            ilustrului om de cultură şi ştiinţă, scriitorul <b>B.P. Hasdeu.</b>
          </p>
          <p>
            Biblioteca Municipală are misiunea de a oferi acces liber şi
            echitabil la informaţie, educaţie, idei, opinii, lecturi;
            încurajează, susţine interesul şi libertatea de a cunoaşte; asigură
            şi dezvoltă servicii moderne şi necesare dezvoltării
            chişinăuienilor.
          </p>
          <p>
            Strategia şi obiectivele BM, proiectele şi programele elaborate sunt
            adaptate la satisfacerea necesităţilor comunităţii chişinăuiene, iar
            reţeaua formată din <b>28 de filiale</b> are o arie de cuprindere pe
            întreg municipiul, creând un ansamblu coerent şi funcţional care
            formează o instituţie patrimonială de documentare şi cercetare. O
            contribuţie deosebită la valorificarea tezaurului de publicaţii
            revine bibliotecilor specializate (Biblioteca Publică de Drept,
            Biblioteca de Arte „T. Arghezi”) şi Centrului Academic Internaţional
            Eminescu, Centrului de carte germană.
          </p>
          <p>
            BM sprijină identitatea şi diversitatea culturală, prin realizarea
            cu succes a proiectului
            <b>„Servicii de lectură pentru minorităţile naţionale”</b> din
            capitală, organizând filiale: de carte şi cultură evreiască „I.
            Mangher”, rusă „M. Lomonosov”, ucraineană „L. Ukrainka”, bulgară „H.
            Botev”, găgăuză „M. Ciachir” şi poloneză „A. Mickiewicz”, cu
            colecţii în limbile respective.
          </p>
          <p>
            O preocupare aparte a Bibliotecii Municipale constă în acordarea de
            servicii pentru persoanele dezavantajate care, prin cele mai diverse
            forme şi facilităţi, sunt integrate în activităţile sale.
          </p>
          <p>
            Profilul Bibliotecii Municipale este universal: de la ediţii de
            referinţă la monografii, de la beletristică la literatură
            ştiinţifică, de la cartea de artă la volume pentru copii. Fondul
            tradiţional şi cel electronic formează un adevărat tezaur naţional
            şi universal care cuprinde peste 1 mln de volume puse la dispoziţie,
            fără restricţii, spre consultare tuturor solicitanţilor. Miza pe
            modalităţile de utilizare – directe (consultarea în săli de lectură
            sau împrumut la domiciliu), la distanţă (pagina WEB, baze de date,
            telefon, poşta electronică) şi gratuitatea reuşesc să atragă anual
            circa 3 mln vizite. Impactul acestor performanţe – informarea,
            documentarea, formarea şi educarea celor peste
            <b>140 mii de utilizatori</b> activi cu o mare diversitate de
            preocupări, categoriile prioritare fiind elevii, studenţii,
            intelectualii, funcţionarii, cărora li se oferă un sistem complex de
            servicii pentru instruire şi destindere.
          </p>
        </section>

        <section class="gallery">
          <div class="row">
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery1.jpeg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery2.jpg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery3.jpg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery4.jpeg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery1.jpeg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery2.jpg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery3.jpg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
            <div class="col-md-3 col-6">
              <img
                src="img/dev/gallery/gallery4.jpeg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
