<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="cke-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>TROLLEYBOOK</h3>

        <section class="cke-content">
          <p>
            Stimaţi chişinăuieni!
          </p>
          <p>
            Biblioteca Municipală „B.P. Hasdeu”, susţinută de Primăria
            Municipiului Chişinău, a implementat în anul 2014 proiectul
            Trolleybook.
          </p>
          <p>
            Scopul proiectului este promovarea şi încurajarea lecturii ca mijloc
            de dezvoltare culturală şi creativă a comunităţii chişinăuiene,
            orientarea spre valorile literare şi organizarea eficientă a
            timpului liber în perioada estivală.
          </p>
          <p>
            În acest scop, Biblioteca Municipală îmbină toate metodele
            accesibile de cunoaştere: lectură, joc, ateliere de creaţie, care
            vor contribui la dezvoltarea creativităţii şi imaginaţiei la copii
            şi adolescenţi, vor atrage spre lectură noi şi diferite categorii de
            potenţiali utilizatori.
          </p>
          <p>
            Trolleybook-ul oferă accesul la servicii de lectură, informare şi
            recreere, în regim de filială (punct de servicii) a Bibliotecii
            Municipale şi funcţionează în perioada estivală - 1 iulie – 31
            august - după următorul program: Marţi – Duminică 11.00 – 18.00
          </p>
          <p>
            Vă aşteptăm cu mult drag, în speranţa că veţi avea parte de clipe
            frumoase, relaxante, pline de bucurii şi, desigur, momente plăcute
            alături de eroii cărţilor preferate!
          </p>
          <p>
            La 19 decembrie 2014 Bibliotecii Municipale „B.P. Hasdeu” i s-a
            acordat
            <a
              href="http://hasdeu.md/activitate-premiu-international-oferit-bibliotecii-municipale-b-p-hasdeu-1726/"
              >premiului EIFL pentru Inovațiile aduse de Bibliotecile Publice şi
              Contribuția la Educație pentru crearea și oferirea unui „spațiu
              dinamic de învățare</a
            >, în care copiii au fost stimulați să citească, să participe la
            activități educaționale și să practice noi abilități în timpul
            vacanței de vară” în cadrul proiectului #Trolleybook, fiind una din
            cei patru câștigători ai acestei nominații.
          </p>
          <p>
            Premiul EIFL – Trofeu și Certificat – a fost înmânat directorului
            general al BM „B.P. Hasdeu”, Dnei Mariana Harjevschi, în cadrul unei
            ceremonii solemne a Festivalului Next Library 2015 (
            <a href="http://www.eifl.net/events/next-library-festival-2015"
              >http://www.eifl.net/events/next-library-festival-2015</a
            >
            ) de către Ramune Petuchovaite, manager de program EIFL.
          </p>
        </section>

        <section class="gallery">
          <div class="row">
            <div class="col-md-3 col-6">
              <img
                src="img/dev/project-one.jpg"
                alt=""
                data-toggle="modal"
                data-target="#zoomModal"
              />
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
