<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="cke-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <ul class="nav-politiques">
          <li><a href="rules.html">Regulamentul de ordine interioară</a></li>
          <li><a href="raports.html">Rapoarte</a></li>
          <li><a href="strategies.html">Strategii</a></li>
        </ul>
      </div>
      <div class="col-lg-9 col-md-8">
        <h3>Rapoarte</h3>

        <div class="accordion">
          <div class="cke-content cke-content-accordion">
            <a
              href="http://hasdeu.md/data/userfiles/files/raport2002.pdf"
              class="title"
            >
              Raport de activitate 2002
            </a>
          </div>
          <div class="cke-content cke-content-accordion">
            <a
              href="http://hasdeu.md/data/userfiles/files/vivod.pdf"
              class="title"
            >
              Raport de activitate 2003
            </a>
          </div>
          <div class="cke-content cke-content-accordion">
            <a
              href="http://hasdeu.md/data/userfiles/files/raportanual04.pdf"
              class="title"
            >
              Raport de activitate 2004
            </a>
          </div>
          <div class="cke-content cke-content-accordion">
            <a
              href="http://hasdeu.md/data/userfiles/files/raport2005.pdf"
              class="title"
            >
              Raport de activitate 2005
            </a>
          </div>
          <div class="cke-content cke-content-accordion">
            <a
              href="http://hasdeu.md/data/userfiles/files/raport2002.pdf"
              class="title"
            >
              Raport de activitate 2006
            </a>
          </div>
          <div class="cke-content cke-content-accordion">
            <a
              href="http://hasdeu.md/data/userfiles/files/vivod.pdf"
              class="title"
            >
              Raport de activitate 2007
            </a>
          </div>
          <div class="cke-content cke-content-accordion">
            <a
              href="http://hasdeu.md/data/userfiles/files/raportanual04.pdf"
              class="title"
            >
              Raport de activitate 2008
            </a>
          </div>
          <div class="cke-content cke-content-accordion">
            <a
              href="http://hasdeu.md/data/userfiles/files/raport2005.pdf"
              class="title"
            >
              Raport de activitate 2009
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %> <%=
_.template(require('./../includes/scripts.html').default)(data) %>
