<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="rates-content tourism-content">

  <section class="banner-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12">
          <h1>Pricing</h1>
        </div>
        <div class="col-lg-8 col-12">
          <p>Interactively procrastinate high-payoff content without backward-compatible data. Quickly cultivate optimal processes and tactical architectures. Completely iterate covalent strategic theme areas via accurate e-markets.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="rates-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>
            <small>Dental Excellence,</small>
            <span>Great Smiles</span>
          </h3>
          <p>Efficiently enable enabled sources and cost effective products. Completely synthesize principle-centered information after ethical communities. Efficiently innovate open-source infrastructures via inexpensive materials.</p>
        </div>
      </div>
      <div class="row rates-bloc">
        <div class="col-md-4">
          <div class="rate-item">
            <p class="price">$2.720</p>
            <p class="name">Common Travel Package</p>
            <p>Example dental care for a single person, this is a one time short visit to our dental office for Budapest quick tourists.</p>
            <ul>
              <li>3 Dental Implants with 3 Crowns (Metal with Ceramic Covering) - $2.610</li>
              <li>Flight London to Bratislava - $55</li>
              <li>Transfers from/to Airport by taxi - free</li>
              <li>One night in Hungary - free</li>
              <li>6 weeks to 3 months later: flight London to Bratislava - $55</li>
              <li>Transfers from/to Airport by taxi - free</li>
              <li>4 to 5 nights in Hungary - free</li>
            </ul>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto">
              <a href="#" class="button arrow-right" data-toggle="modal" data-target="#request-modal">
                <span>Buy Packege Now</span>
                <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                  <title>Path</title>
                  <desc>Created with Sketch.</desc>
                  <defs>
                      <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                          <stop stop-color="#DFA1D5" offset="0%"></stop>
                          <stop stop-color="#005691" offset="100%"></stop>
                      </linearGradient>
                  </defs>
                  <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                          <g id="Header" transform="translate(-24.000000, -72.000000)">
                              <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                  <g id="Group-5">
                                      <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                          <g id="left-arrow">
                                              <g id="Group-3">
                                                  <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="rate-item">
            <p class="price">$6.475</p>
            <p class="name">Medium Travel Package</p>
            <p>A more advanced example for a single person, taking up to few days, suitable for someone staying up to 5 days in Budapest.</p>
            <ul>
              <li>6 Dental Implants with 12 Crowns Bridge (Metal with Ceramic Covering) - $6.475</li>
              <li>Flight London to Bratislava - $55</li>
              <li>Transfers from/to Airport by taxi - free</li>
              <li>One night in Hungary - free</li>
              <li>6 weeks to 3 months later: flight London to Bratislava - $55</li>
              <li>Transfers from/to Airport by taxi - free</li>
              <li>4 to 5 nights in Hungary - free</li>
            </ul>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto">
              <a href="services.html" class="button arrow-right" data-toggle="modal" data-target="#request-modal">
                <span>Buy Packege Now</span>
                <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                  <title>Path</title>
                  <desc>Created with Sketch.</desc>
                  <defs>
                      <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                          <stop stop-color="#DFA1D5" offset="0%"></stop>
                          <stop stop-color="#005691" offset="100%"></stop>
                      </linearGradient>
                  </defs>
                  <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                          <g id="Header" transform="translate(-24.000000, -72.000000)">
                              <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                  <g id="Group-5">
                                      <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                          <g id="left-arrow">
                                              <g id="Group-3">
                                                  <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="rate-item">
            <p class="price">$7.635</p>
            <p class="name">Full Travel Package</p>
            <p>Complete dental care for a single person, serving all of your needs. You should contact us for more details.</p>
            <ul>
              <li>8 Dental Implants with 14 Crowns Bridge (Metal with Ceramic Covering) - $7.525</li>
              <li>Flight London to Bratislava - $55</li>
              <li>Transfers from/to Airport by taxi - free</li>
              <li>One night in Hungary - free</li>
              <li>6 weeks to 3 months later: flight London to Bratislava - $55</li>
              <li>Transfers from/to Airport by taxi - free</li>
              <li>4 to 5 nights in Hungary - free</li>
            </ul>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto">
              <a href="services.html" class="button arrow-right" data-toggle="modal" data-target="#request-modal">
                <span>Buy Packege Now</span>
                <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                  <title>Path</title>
                  <desc>Created with Sketch.</desc>
                  <defs>
                      <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                          <stop stop-color="#DFA1D5" offset="0%"></stop>
                          <stop stop-color="#005691" offset="100%"></stop>
                      </linearGradient>
                  </defs>
                  <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                          <g id="Header" transform="translate(-24.000000, -72.000000)">
                              <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                  <g id="Group-5">
                                      <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                          <g id="left-arrow">
                                              <g id="Group-3">
                                                  <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="room-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-auto col-12">
          <h3>
            <span>Our Rooms</span>
          </h3>
        </div>
      </div>
    </div>
    <div class="slider-rooms">
      <div>
          <img src="img/dev/room1.png" alt="">
      </div>
      <div>
          <img src="img/dev/room1.png" alt="">
      </div>
      <div>
          <img src="img/dev/room1.png" alt="">
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="button arrow-right">
            <span>view all rooms</span>
            <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
              <title>Path</title>
              <desc>Created with Sketch.</desc>
              <defs>
                  <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                      <stop stop-color="#DFA1D5" offset="0%"></stop>
                      <stop stop-color="#005691" offset="100%"></stop>
                  </linearGradient>
              </defs>
              <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                      <g id="Header" transform="translate(-24.000000, -72.000000)">
                          <g id="Group-18" transform="translate(351.000000, 0.000000)">
                              <g id="Group-5">
                                  <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                      <g id="left-arrow">
                                          <g id="Group-3">
                                              <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="book-visit">
    <img src="img/backgrounds/book-visit-doctor.png" alt="">
    <div class="book-visit-inner">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-7 col-12">
            <h3>
              <small>Write To Our</small>
              <span>Dental Office</span>
            </h3>
            <form action="" class="row">
              <div class="col-md-6">
                <input type="text" placeholder="Your Name">
              </div>
              <div class="col-md-6">
                <input type="text" placeholder="Your Email">
              </div>
              <div class="col-md-6">
                <div class="phone-container">
                  <div class="phone-select">
                    <img src="img/dev/germany.svg" alt="">
                    <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                      <title>Path</title>
                      <desc>Created with Sketch.</desc>
                      <defs>
                          <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                              <stop stop-color="#DFA1D5" offset="0%"></stop>
                              <stop stop-color="#005691" offset="100%"></stop>
                          </linearGradient>
                      </defs>
                      <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                              <g id="Header" transform="translate(-24.000000, -72.000000)">
                                  <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                      <g id="Group-5">
                                          <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                              <g id="left-arrow">
                                                  <g id="Group-3">
                                                      <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                    </svg>
                  </div>
                  <input type="text" placeholder="Phone Number">
                </div>
              </div>
              <div class="col-md-6">
                <input type="date" placeholder="Pick your appointment date">
              </div>
              <div class="col-md-6">
                <div class="button arrow-right">
                  <span>book appointment now</span>
                  <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                    <title>Path</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                        <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                            <stop stop-color="#DFA1D5" offset="0%"></stop>
                            <stop stop-color="#005691" offset="100%"></stop>
                        </linearGradient>
                    </defs>
                    <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                            <g id="Header" transform="translate(-24.000000, -72.000000)">
                                <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                    <g id="Group-5">
                                        <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                            <g id="left-arrow">
                                                <g id="Group-3">
                                                    <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                  </svg>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="tabs">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3>
            <small>View Our Regular</small>
            <span>Dental Rates</span>
          </h3>
        </div>
        <div class="col-md-6 col-12 tabs-text">
          <p> Proactively fabricate one-to-one materials via effective e-business. Completely synergize scalable e-commerce rather than high standards in e-services. Assertively iterate resource maximizing products after leading-edge intellectual capital.</p>
        </div>
        <div class="col-12">
          <div class="row">
            <ul class="col-lg-3 col-md-4 col-12 nav nav-pills">
              <li><a data-toggle="pill" href="#service1" class="active">Profilaxie</a></li>
              <li><a data-toggle="pill" href="#service2">Tratamentul endodontic </a></li>
              <li><a data-toggle="pill" href="#service3">Odontologie</a></li>
              <li><a data-toggle="pill" href="#service4">Protetica dentara</a></li>
              <li><a data-toggle="pill" href="#service5">Chirurgie/Implantologie</a></li>
              <li><a data-toggle="pill" href="#service6">Paradontologie</a></li>
              <li><a data-toggle="pill" href="#service7">Ortodontie</a></li>
              <li><a data-toggle="pill" href="#service8">Cosmetica dentara</a></li>
              <li><a data-toggle="pill" href="#service9">Radiologie</a></li>
            </ul>
            <div class="col-lg-9 col-md-8 col-12 tab-content">
              <div id="service1" class="tab-pane fade in active show">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Consultație</span><span>50 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Detartraj cu ultrasunete/arcadă</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Periaj profesional/arcadă</span><span>50 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Detartraj per dinte  </span><span>20 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Curățare AIR FLOW/arcadă</span><span>70 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Sigilare santuri si fosete</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Pachet igienizare (detartraj ultrasunete, periaj profesional, airflow)</span><span>350 lei</span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="service2" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Consultație</span><span>50 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Anestezie </span><span>30 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Aplicare hidroxid de calciu</span><span>80 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Îndepartare ac sau pivot  </span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala monoradicular cu obturatie</span><span>250 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Dezopturare canal radicular</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Obturație canal radicular</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="service3" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Consultație</span><span>50 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Anestezie </span><span>30 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Aplicare hidroxid de calciu</span><span>80 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Îndepartare ac sau pivot  </span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala monoradicular cu obturatie</span><span>250 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Dezopturare canal radicular</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Obturație canal radicular</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="service4" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Consultație</span><span>50 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Anestezie </span><span>30 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Aplicare hidroxid de calciu</span><span>80 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Îndepartare ac sau pivot  </span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala monoradicular cu obturatie</span><span>250 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Dezopturare canal radicular</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Obturație canal radicular</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="service5" class="tab-pane fade in active show">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Consultație</span><span>50 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Detartraj cu ultrasunete/arcadă</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Periaj profesional/arcadă</span><span>50 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Detartraj per dinte  </span><span>20 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Curățare AIR FLOW/arcadă</span><span>70 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Sigilare santuri si fosete</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Pachet igienizare (detartraj ultrasunete, periaj profesional, airflow)</span><span>350 lei</span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="service6" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Consultație</span><span>50 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Anestezie </span><span>30 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Aplicare hidroxid de calciu</span><span>80 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Îndepartare ac sau pivot  </span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala monoradicular cu obturatie</span><span>250 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Dezopturare canal radicular</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Obturație canal radicular</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="service7" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Consultație</span><span>50 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Anestezie </span><span>30 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Aplicare hidroxid de calciu</span><span>80 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Îndepartare ac sau pivot  </span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala monoradicular cu obturatie</span><span>250 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Dezopturare canal radicular</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Obturație canal radicular</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="service8" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Consultație</span><span>50 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Anestezie </span><span>30 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Aplicare hidroxid de calciu</span><span>80 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Îndepartare ac sau pivot  </span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala monoradicular cu obturatie</span><span>250 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Dezopturare canal radicular</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Obturație canal radicular</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="service9" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Consultație</span><span>50 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Anestezie </span><span>30 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Aplicare hidroxid de calciu</span><span>80 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Îndepartare ac sau pivot  </span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala monoradicular cu obturatie</span><span>250 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Dezopturare canal radicular</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Obturație canal radicular</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>100 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="tab-item">
                      <span>Extirpare vitala sau devitala triradicular cu obturatie</span><span>350 lei</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="map-contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <div class="hours-plan">
            <img src="img/dev/hours-plan-img.jpg" alt="">
            <h5>Working Hours</h5>
            <p>Come and visit our dental agency or simply send us an email anytime you want. We are open to all suggestions from our clients.</p>
            <ul>
              <li><span>Monday</span><span>8AM-9PM</span></li>
              <li><span>Tuesday</span><span>8AM-9PM</span></li>
              <li><span>Wednesday</span><span>9AM-6:30PM</span></li>
              <li><span>Thursday</span><span>8AM-9PM</span></li>
              <li><span>Friday</span><span>8AM-9PM</span></li>
              <li><span>Saturday-Sunday</span><span>Closed</span></li>
            </ul>
            <h5>Need Flexible Time?</h5>
            <div class="button arrow-right" data-toggle="modal" data-target="#request-modal">
              <span>suggest checkout time</span>
              <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                <title>Path</title>
                <desc>Created with Sketch.</desc>
                <defs>
                    <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                        <stop stop-color="#DFA1D5" offset="0%"></stop>
                        <stop stop-color="#005691" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                        <g id="Header" transform="translate(-24.000000, -72.000000)">
                            <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                <g id="Group-5">
                                    <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                        <g id="left-arrow">
                                            <g id="Group-3">
                                                <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=bucuresti&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a href="https://www.embedgooglemap.net"></a>
      </div>
      <style>.mapouter{text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/scripts.html').default)(data) %>

