<%=_.template(require('./../includes/head.html').default)(data) %>
<%=_.template(require('./../includes/header.html').default)(data) %>

<main class="about-content services-content">
  <section class="banner-about">
    <div class="container">
      <div class="row">
        <div class="col-12 border-bot">
          <h3>
            <small>Dentistry Excellencey</small>
            <span>Exceptional Care</span>
          </h3>
        </div>
      </div>
      <div class="row solutions">
        <div class="col-md-3">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/service-icon1.svg" alt="">
            </div>
            <div class="name">Stomatologie generală</div>
            <p>Competently parallel task researched data process.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/solution-icon2.svg" alt="">
            </div>
            <div class="name">Tratamentul endodontic la microscop</div>
            <p>Leverage other resource leveling convergence data.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/service-icon3.svg" alt="">
            </div>
            <div class="name">Implanturi dentare</div>
            <p>Competently parallel task researched data process.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/solution-icon4.svg" alt="">
            </div>
            <div class="name">Chirurgie</div>
            <p>Engage fully tested process top line platform clients.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/solution-icon5.svg" alt="">
            </div>
            <div class="name">Lucrari dentare (protetice)</div>
            <p>Competently parallel task researched data process.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/solution-icon6.svg" alt="">
            </div>
            <div class="name">Stomatologie cosmetica</div>
            <p>Leverage other resource leveling convergence data.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/solution-icon7.svg" alt="">
            </div>
            <div class="name">Pedodontie</div>
            <p>Competently parallel task researched data process.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="solution-item">
            <div class="solution-icon">
              <img src="img/svg/solution-icon8.svg" alt="">
            </div>
            <div class="name">Parodontologie</div>
            <p>Engage fully tested process top line platform clients.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="in-numbers">
    <div class="container">
      <div class="row">
        <div class="col-12 border-bot">
          <h3>
            <small>Our Dental Service</small>
            <span>In Numbers</span>
          </h3>
        </div>
        <div class="col-6">
          <p>Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business applications through revolutionary catalysts for change. Seamlessly underwhelm optimal testing processes.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="quote">
            <p>
              <span>"</span>
              DentiCare was founded in the first place to create absolutely beautiful smiles.
              <span>"</span>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <p>Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically incubate intuitive opportunities and real-time potentialities.</p>
          <p>Appropriately communicate one-to-one technology after plug-and-play networks. Quickly aggregate B2B users and worldwide potentialities.</p>
        </div>
        <div class="col-md-4">
          <p>Enthusiastically mesh long-term high-impact infrastructures vis-a-vis efficient customer service. Professionally fashion wireless leadership.</p>
          <p>Energistically myocardinate clicks-and-mortar testing procedures whereas next-generation manufactured products, appropriately implement visionary readiness.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonial">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-3 section-left">
          <h3>
            <small>Client</small>
            <span>Testimonials</span>
          </h3>
          <p>
            Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.
          </p>
          <div class="row">
            <div class="col-auto">
              <a href="#" class="button arrow-right">
                <span>view all</span>
                <svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                  <title>Path</title>
                  <desc>Created with Sketch.</desc>
                  <defs>
                      <linearGradient x1="100%" y1="50%" x2="-156.127489%" y2="50%" id="linearGradient-1">
                          <stop stop-color="#DFA1D5" offset="0%"></stop>
                          <stop stop-color="#005691" offset="100%"></stop>
                      </linearGradient>
                  </defs>
                  <g id="Site" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="arrow" transform="translate(-1246.000000, -117.000000)" fill="url(#linearGradient-1)">
                          <g id="Header" transform="translate(-24.000000, -72.000000)">
                              <g id="Group-18" transform="translate(351.000000, 0.000000)">
                                  <g id="Group-5">
                                      <g id="left-arrow-2-copy" transform="translate(1041.500000, 193.000000) rotate(-90.000000) translate(-1041.500000, -193.000000) translate(1014.500000, 42.500000)">
                                          <g id="left-arrow">
                                              <g id="Group-3">
                                                  <path d="M25.6793961,35.0029593 L30.756803,29.7653659 C30.8966099,29.6214959 30.9735202,29.4291382 30.9735202,29.2240325 C30.9735202,29.018813 30.8966099,28.8265691 30.756803,28.6824715 L30.3118926,28.2237724 C30.1723064,28.0794472 29.9857133,28 29.7868719,28 C29.5880305,28 29.4016581,28.0794472 29.2619616,28.2237724 L23.2164995,34.4595772 C23.0762512,34.6041301 22.9994512,34.7972846 23,35.0026179 C22.9994512,35.2088618 23.0761409,35.4017886 23.2164995,35.5464553 L29.256334,41.7762276 C29.3960305,41.9205528 29.582403,42 29.7813547,42 C29.9801961,42 30.1665685,41.9205528 30.3063754,41.7762276 L30.7511754,41.3175285 C31.0406099,41.0189756 31.0406099,40.5329593 30.7511754,40.2345203 L25.6793961,35.0029593 Z" id="Path"></path>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-8 section-right">
          <div class="slider-testimonials">
            <div class="testimonial-item">
              <div class="top">
                <img src="img/dev/testimonial-img.png" alt="">
                <div>
                  <p>Jane Scott</p>
                  <span>Dental surgery</span>
                </div>
              </div>
              <p class="description">
                Holisticly predominate extensible testing procedures for reliable supply chains top line service cutting edge deliverables.
              </p>
            </div>
            <div class="testimonial-item">
              <div class="top">
                <img src="img/dev/testimonial-img.png" alt="">
                <div>
                  <p>Jane Scott</p>
                  <span>Dental surgery</span>
                </div>
              </div>
              <p class="description">
                Holisticly predominate extensible testing procedures for reliable supply chains top line service cutting edge deliverables.
              </p>
            </div>
            <div class="testimonial-item">
              <div class="top">
                <img src="img/dev/testimonial-img.png" alt="">
                <div>
                  <p>Jane Scott</p>
                  <span>Dental surgery</span>
                </div>
              </div>
              <p class="description">
                Holisticly predominate extensible testing procedures for reliable supply chains top line service cutting edge deliverables.
              </p>
            </div>
            <div class="testimonial-item">
              <div class="top">
                <img src="img/dev/testimonial-img.png" alt="">
                <div>
                  <p>Jane Scott</p>
                  <span>Dental surgery</span>
                </div>
              </div>
              <p class="description">
                Holisticly predominate extensible testing procedures for reliable supply chains top line service cutting edge deliverables.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/scripts.html').default)(data) %>

