header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: $height-header;
  background: #fff;

  .header-left {
    padding-left: 0;
  }

  .container, .row {
    height: 100%;
  }

  .header-center {
    height: $height-header;
    
    &>ul {
      align-items: center;
      height: 100%;
    }

    li {
      position: relative;
      display: block;
      transition: all .3a ease;

      &:hover {
        background: $orange-background;

        a {
          color: #fff;
        }
      }

      ul {
        background: $orange-background;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 15px;
        min-width: 300px;
        max-width: 400px;
        height: 0;
        opacity: 0;
        overflow: hidden;
        z-index: 1;
        transition: all .3s ease;
        box-shadow: 3px 4px 0 0 #E23826;

        li, span, a {
          color: #fff;
          line-height: 40px;
          font-size: $font-size-small;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
        }

        li {
          width: 95%;
          padding-right: 15px;
        }

        li:first-child {
          margin-bottom: 0px;
          background: none !important;
          

          a {
            line-height: 60px;
            font-size: $font-size-standard !important;
          }
        }

        li:last-child {
          margin-bottom: 30px;
        }

        li:hover {
          background: #E23826;
        }
      }

      &:hover ul {
        height: auto;
        opacity: 1;
      }
    }
    
  }

  .header-right {
    display: flex;
    align-items: center;

    span, div, a {
      text-transform: uppercase;
    }

    &>div {
      display: flex;
      align-items: center;
      height: 60px;
      padding: 0 5px;
      cursor: pointer;
      margin-left: 10px;

      &:hover {
        background: $orange-background;

        span {
          color: #fff;
        }
        .header-right-svg {
          fill: #fff;
        }
      }

      svg {
        width: 20px;
        margin-left: 8px;
      }

      .header-right-svg {
        fill: $font-color-dark;
      }
    }
  }

  .row {
    justify-content: space-between;
    align-items: center;
  }

  a, span {
    font-family: $font-roboto-slab;
    font-size: $font-size-standard;
    color: $font-color-dark;
    letter-spacing: 0.18px;
    white-space: nowrap;
  }

  ul {
    display: flex;
    margin-left: -15px;
    
    a {
      display: block;
      line-height: 60px;
      padding: 0 15px;
      transition: all .3s ease;
    }


    a, span {
      text-transform: uppercase;
    }
  }
}

footer {
  background: #363636;

  .footer-inner {
    padding: 100px 0;
    flex-wrap: nowrap;
  }

  .prefooter {
    height: 60px;
    background: #282828;

    p {
      color: #fff;
      line-height: 60px;
      margin-bottom: 0;
      padding: 0;
    }
  }

  .networks {
    display: flex;

    img {
      width: 30px;
    }

    a:first-child img {
      width: 18px;
      margin-right: 20px;
    }
  }

  p {
    white-space: unset;
  }

  a.logo {
    display: block;
    margin: 10px 0;
  }

  a, li, p {
    font-family: $font-source-sans;
    font-size: $font-size-standard;
    color: #fff;
    line-height: 1.5;
    padding: 5px 0;
  }

  p {
    line-height: 1.5;
  }

  a:hover {
    color: #E9642D
  }

  .title {
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #E9642D;
  }
}

#burger {
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:after,
  &:before {
    content: "";
    height: 2px;
    width: 30px;
    border-radius: 0px;
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: $font-color-pink;
    transition: all 0.2s ease-out;
  }
  &:after {
    bottom: 6px;
  }
  &:before {
    top: 6px;
  }
  .iconBar {
    width: 30px;
    height: 2px;
    display: inline-block;
    margin: 14px 0;
    background-color: $font-color-pink;
    transition: all 0.2s ease-out;
    border-radius: 3px;
  }
}

#burger.burgerOpen {
  .iconBar {
    width: 0;
  }
  &:after {
    transform: rotate(-45deg);
    bottom: 14px;
  }
  &:before {
    transform: rotate(45deg);
    top: 14px;
  }
}

#header-mobile {
  background: $light-background;
  height: 59px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  padding: 0 15px;
  align-items: center;
  z-index: 5;
  transition: left .3s ease;

  a.logo {
    margin-left: 15px;
    margin-bottom: 8px;
  }
}

@media (max-width: 1260px) {

  header {

    .header-right {
  
      &>div {
        padding: 0 10px;

        span {
          display: none;
        }
        svg {
          margin-left: 0;
        }
      }

      #lang-button span {
        display: block;
      }
    }
  }
}

@media (max-width: 1100px) {

  header {

    a, span {
      font-size: 14px;
    }
  }
}