@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

@import "resset.scss";
@import "variables.scss";

img {
  width: 100%;
}

a.logo {
  
  img {
    width: 275px;
  }
}

a:hover {
  color: $font-color-dark;
  text-decoration: none;
}

h1 {
  font-size: $font-size-large;
  color: $font-color-light;
  font-family: $font-roboto-slab;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;

  &:after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 150px;
    height: 4px;
    background: $orange-background;
  }
}

h3 {
  font-size: $font-size-big;
  color: $font-color-dark;
  font-family: $font-roboto-slab;
  line-height: 1.3;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 190px;
    height: 5px;
    background: $orange-background;
    z-index: 1;
  }
}

p {
  font-family: $font-source-sans;
  font-size: $font-size-standard;
  color: $font-color-dark;
  line-height: 1.3;
  margin-bottom: 20px;
}

a {
  transition: color .3s ease;
  font-family: $font-roboto-slab;
  font-size: $font-size-standard;
  color: $font-color-dark;
  line-height: 1.3;
}

input, textarea {
  display: block;
  width: 100%;
  background: #fff;
  border: 0;
  outline: 0;
  line-height: 60px;
  height: 60px;
  font-family: $font-roboto-slab;
  font-size: $font-size-standard;
  color: $font-color-dark;
  padding-left: 10px;
  border-radius: 9px;
  border: 1px solid $font-color-dark;

  &:focus {
    // background: transparent;
    border: 1px solid $font-color-dark;
    // box-shadow: 0 4px 10px 0 rgba(127,127,127,0.50);
  }
}

.select-container {
  margin-bottom: 20px;

  span {
    display: block;
    font-family: $font-source-sans;
    font-size: $font-size-small;
    color: $font-color-dark;
    margin-bottom: 5px;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    width: 100%;
    background: #fff;
    border: 0;
    outline: 0;
    line-height: 60px;
    height: 60px;
    font-family: $font-roboto-slab;
    font-size: $font-size-standard;
    color: $font-color-dark;
    padding-left: 10px;
    border-radius: 9px;
    border: 1px solid $font-color-dark;
    position: relative;
    background: #ffff url(../img/svg/arrow-down.svg) no-repeat 95% center;
  }
}

::placeholder {
  color: $font-color-dark;
}

.container {
  max-width: 1350px;
}

main {
  padding-top: $height-header;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  line-height: 58px;
  padding: 0 15px;
  border-radius: 9px;
  transition: all .3s ease;
  background: #EC4E2B;
  box-shadow: 7px 7px 0 0 #E23826;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  font-family: $font-source-sans;
  font-weight: 500;
  color: #fff;
  width: 360px;
  text-align: center;

  &:hover {
    color: #fff;
    box-shadow: none;
    background: #E23826;
  }
}

.button.button-white {
  background: #fff;
  box-shadow: 7px 7px 0 0 #E9642D;

  span {
    color: #E23826 !important;
  }

  &:hover {
    box-shadow: none;
    background: #E9642D;

    span {
      color: #fff !important; 
    }
  }
}

.book-item {
  position: relative;

  a {
    display: block;
  }

  .image-container {
    background: rgba($color: #E8E8E8, $alpha: .8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    position: relative;

    img {
      width: 170px;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background-image: linear-gradient(-45deg, #E23826 0%, #E9642D 100%);
      transition: opacity .3s ease;
    }

    &:hover {
      &:after {
        opacity: 0.74;
      }
    }
  }

  .product-name {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: $font-size-standard;
  }

  span, p {
    transition: color .3s ease;
    font-family: $font-roboto-slab;
    font-size: $font-size-small;
    color: $font-color-dark;
    line-height: 1.3;
    font-weight: 300;
  }

  .icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 37px;
    height: 37px;
    background: $orange-background;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
  }

  &.electron-book .icon{
    background-image: url(../img/icons/audio-book-svg.svg);
  }

  &.audio-book .icon{
    background-image: url(../img/icons/electron-book-svg.svg);
  }
}

.film-item {
  width: 300px !important;

  .image-container {
    position: relative;
    padding: 0;
    opacity: 0.8;
    box-shadow: 0 11px 20px 0 rgba(24,24,24,0.81);

    img {
      width: 100%;
    }
  }

  .description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.95;
    z-index: 2;
    padding: 15px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(180deg, rgba(40,40,40,0.00) 0%, #2E2E2E 50%);

    p, span {
      color: #ffff;
    }

    p {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  &:hover {

    .image-container {
      box-shadow: none;
    }

    .description {
      background-image: linear-gradient(180deg, rgba(40,40,40,0.00) 0%, #E9642D 50%);
    }

    &:after {
      opacity: 0.77;
      
    }
  }
}

.phone-container {
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 9px;
  box-shadow: 0 6px 11px 0 rgba(163,163,163,0.50);
  

  .phone-select {
    display: flex;
    align-items: center;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    border-right: 1px solid $font-color-pink;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;

    img {
      width: 40px;
      margin-right: 10px;
    }
  }

  input {
    box-shadow: none !important;
    border-radius: 0;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
  }

  input:focus {
    box-shadow: none !important;
    border: 0;
  }
}

@import "./header-footer.scss";

.slider-section {
  padding: 80px 0;

  .button {
    margin-top: 80px;
  }
}

.slider-standard {
  margin: 0 -15px;

  .slick-list {
    padding: 0 !important;
  }

  .slick-arrow {
    position: absolute;
    font-size: 0;
    bottom: 0;
    outline: 0;
    background-color: #E9642D;
    width: 35px;
    height: 59px;
    z-index: 1;
    top: -89px;
    right: 15px;
    background-image: url("../img/icons/next.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px;
    transition: opacity .3s ease;
    opacity: .3;

    &:active {
      background-size: 8px;
    }

    &:hover {
      opacity: 1;
    }
  }

  .slick-prev {
    right: 50px;
    transform: rotate(180deg);
  }

  .slick-slide {
    margin: 0 15px;
  }
}

.home-content {

  .banner-home {
    background-color: #000000;
    position: relative;

    .banner-inner {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 500px;
        margin-bottom: 30px;
      }

      .adv {
        text-align: right;
        width: 800px;
        margin-top: 5px;

        a {
          color: #fff;
          font-weight: 300;
          font-size: $font-size-small;
        }
      }
    }

    .search-container {
      width: 800px;
      display: flex;

      .search-svg {
        fill: #fff;
      }

      button {
        width: 80px;
        height: 61px;
        background: $orange-background;
        border-bottom-right-radius: 9px;
        border-top-right-radius: 9px;
        padding: 0;
        bottom: 0;

        svg {
          width: 25px;
        }
      }

      input {
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        text-transform: uppercase;
      }
    }
  }

  section:nth-child(3) {
    background-color: #EEEEEE;
  }

  .film-section {
    background: #282828;

    h3 {
      color: #fff;
    }
  }

  .blog-section {

    .blog-item {
      position: relative;

      .blog-description {
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba($color: #282828, $alpha: .7);
        display: flex;
        padding: 15px;
        padding-bottom: 40px;
      }

      p, span {
        color: #fff;
      }

      p.blog-title {
        color: #E9642D;
      }

      .date {
        width: 50px;
        height: 50px;
        background: #E9642D;
        text-align: center;
        padding: 5px 15px;
        margin-right: 15px;
        font-size: $font-size-small;
      }
    }

    h3:after {
      display: none;
    }
  }

  .event-section {
    position: relative;

    .event-text {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      .container, .row {
        height: 100%;
      }

      .row {
        flex-direction: column;
        justify-content: center;

        &>div {
          height: auto;
        }
      }
    }

    p.title {
      font-family: $font-roboto-slab;
      font-size: 60px;
      color: #FFFFFF;
      letter-spacing: 0.67px;
      text-transform: uppercase;
    }

    .button {
      font-size: 25px;
    }
  }

  .children-section {
    background: #EC4E2B url(../img/backgrounds/children-section.png) no-repeat 0 bottom;
    background-size: 100%;

    a, p, div, span, h3 {
      color: #fff
    }

    h3:after {
      background-color: #fff;
    }
  }
}

.modal {
  
  .modal-content {
    position: relative;
    padding: 30px 60px;
    padding-top: 0;
    padding-bottom: 60px;
    background-image: url(../img/backgrounds/modal.png);
    background-size: 100% 100%;
  }

  input {
    margin-bottom: 30px;
  }

  .phone-container {
    margin-bottom: 30px;
    box-shadow: none;

    input {
      margin-bottom: 0;
    }
  }

  .title-modal {
    font-size: $font-size-big;
    line-height: 3;
    font-family: $font-roboto-slab;
    color: $font-color-dark;
    text-align: center;
    text-transform: uppercase;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-image: url(../img/svg/close.svg);
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

@media (max-width: 767px) {

  #cover {
    overflow: hidden;
    width: 100vw;
  }

  main {
    padding-top: 59px;
  }

  body.header-open {
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    #header-mobile {
      left: calc(100vw - 60px);
      background: #ffffff;
    }

    header {
      left: 0;
    }
  }

  h3 {
    margin-bottom: 30px;
  }

  h1 {
    font-size: $font-size-big;
  }

  a.logo {
  
    img {
      width: 200px;
    }
  }

  #header-mobile {
    display: flex;
  }

  header {
    width: 100vw;
    height: 100vh;
    background: #fff;
    overflow: scroll;
    padding: 0 15px;
    padding-bottom: 30px;
    left: -100vw;
    transition: left .3s ease;

    a.logo {
      display: block;
      text-align: center;
      padding: 30px 0;
    }
  
    .header-top{
      height: auto;
    }
  
    .header-bottom-right {
      flex-direction: column;
    }

    .header-bottom {
      height: auto;
      border: 0;

      &>div>ul>li {
        border-top: 1px solid $font-color-dark;
        
        &:hover ul {
          height: 0;
          opacity: 0;
        }
        &>a:hover {
          box-shadow: none;
        }
      }

      li ul {
        position: relative;
        left: 0;
        box-shadow: none;
        background: #fff;
        
        &.open {
          height: auto !important;
          opacity: 1 !important;
        }
      }
    }

    .header-contact {
      flex-direction: column;

      &>div {
        margin-bottom: 15px;
        justify-content: center;
        margin-left: 0;
        padding-right: 17px;
      }
    }
  
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0;

      span {
        margin-right: -30px;
        padding-right: 30px;
        background-image: url(../img/svg/arrow-down.svg);
        background-repeat: no-repeat;
        background-position: 100% center;
        position: relative;
        z-index: -1;
      }
    }

    a {
      text-align: center;
    }

    .lang-bloc {
      margin-right: 0;
      width: 100%;
      border-top: 1px solid $font-color-dark;
      
      div {
        justify-content: center;
      }
      span {
        line-height: 59px;
      }
    }

    .button {
      margin-top: 30px;
    }
  }

  footer {

    .footer-inner {
      flex-wrap: wrap;
      padding: 30px 0;
    }

    .title {
      margin-bottom: 0;
      padding: 10px 0;
      position: relative;

      &:after {
        content: "+";
        color: $font-color-pink;
        position: absolute;
        right: 15px;
        top: 0;
        line-height: 44px;
        font-size: $font-size-medium;
      }
    }

    ul {
      border-bottom: 1px solid #fff;
      height: 44px;
      overflow: hidden;
    }

    ul.open {
      height: auto;
      padding-bottom: 15px;

      .title {

        &:after {
          content: "-"
        }
      }
    }
  }

  .banner-page {

    span {
      display: block;
      margin-bottom: 10px;
    }
  }

  .home-banner {
    background-position: 80%;

    p {
      font-size: $font-size-medium;
      margin-bottom: 30px;
    }
    .title {
      font-size: $font-size-big;
      margin-bottom: 100px;
    }
    .row {
      margin-right: 0;
    }
  }

  .slider-testimonials {
    margin-bottom: 50px;
  }

  .team {

    h3 {
      margin-top: 30px;
    }

    p {
      margin: 30px 0;
    }

    .team-container {
      bottom: 0;
      margin-top: 30px;
    }

    .team-item {
      margin-bottom: 30px;
    }
  }

  .tabs {
  
    .nav {
      li {
        width: 100%;
      }
    }
  }

  .services {
    .services-item {
      margin-bottom: 20px;
    }
  }

  .map-contact {
    padding: 0;

    .col-12 {
      padding: 0;
    }

    .hours-plan {
      padding: 80px 15px;
    }
    .mapouter {
      position: static;
      width: 100vw;
      height: 70vh;
    }
  }

  .quote {
    margin-bottom: 30px;
  }

  .about-section {
    padding: 80px 0;
  
    h3 {
      display: block;
      text-align: center;
  
      span {
        padding-left: 0;
      }
    }
  }

  .home-content {

    .appointment {
      padding-bottom: 0;

      article {
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
        box-shadow: none;
      }
      h3 {
        margin-bottom: 30px;
        margin-top: 20px;
      }
      .article-inner {
        display: block;

        div {
          padding: 0;
        }

        form {
          padding: 15px 0;
        }
      }
    }

    .news {

      .new-item {
        margin-bottom: 30px;
      }
    }
  }

  .about-content {

    .banner-about {
      padding: 50px 0;

      h3 {
        margin-bottom: 0;
      }
    }
  }

  .team-content {

    .banner-team {
      height: calc(100vh - 59px);
  
      .row {
        background: rgba($color: #fff, $alpha: .7);
      }
    }
  
    .map-contact {
  
      .mapouter {
        width: 100vw;
      }
  
      .hours-plan {
        background: $light-background;
  
        h5, p, span {
          color: $font-color-dark;
        }
  
        li span:last-child {
          color: rgba($color: $font-color-dark, $alpha: 0.55);
        }
      }
    }
  }

  .about-content.services-content {

    .banner-about {
      padding-bottom: 30px;
    }
  
    .testimonial {
      padding: 0;
      background-color: $font-color-light;
      .section-left {
        padding: 0 15px;
        padding-top: 40px;

        .button {
          min-width: 250px;
        }
      }
  
      .container {
        max-width: 100vw;
        margin-right: auto;
      }
  
      .section-right {
        padding: 30px 0;
  
        &:after {
          display: none;
        }
      }
    }

    .slider-testimonials .testimonial-item {
      padding: 30px;
    }

    .in-numbers {
      padding: 40px 0;
    }
  
    h3 {
      margin-bottom: 30px;
    }
  }

  .news-content {

    .news-item {

      .author {
        width: auto;
        margin-bottom: 10px;

        img {
          width: 50px;
          margin-bottom: 0;
          margin-right: 15px;
          float: left;
        }

        p {
          display: inline-block;
          margin-bottom: 5px;
          margin-top: 0;
        }

        span {
          display: block;
          margin-right: 0;
          margin-left: auto;
          text-align: left;
        }
        
      }

      h3 {
        font-size: $font-size-medium;
        margin-bottom: 20px;
      }
    }
  }

  .tourism-content {

    .tourism-banner {
      height: auto;
      padding-top: 40px;
      padding-bottom: 30px;
  
      .item {
        display: block;
  
        img {
          float: left;
        }
      }

      .button {
        margin-bottom: 30px;
        width: 250px;
      }
  
      .banner-background {
        width: 100%;
  
        img {
          opacity: .3;
        }
      }
  
      .container, .row {
        height: 100%;
      }
  
      .container>.row {
        justify-content: flex-end;
        align-items: center;
      }
    }

    .ranges {
      margin-bottom: 20px;
    }
  
    .rates-section {
      padding-bottom: 30px;

      .button {
        margin-bottom: 60px;
      }
      
    }
  }

  .service-one-content {

    .service-one-banner {
      height: auto;
      padding: 30px 0;

      .background-banner {
        display: none;
      }
    }
  }

  .rooms-content {
  
    .item {
      margin-right: 30px;
      margin-bottom: 20px;
    }
  
    .room-options-bottom {
      margin-top: 30px;

      &>div {
        flex-wrap: wrap;
        margin-bottom: 0;
      }
    }
  
    .contact {
      margin-top: 20px;
      height: auto;
      padding: 15px;
    }
  }

  .modal {

    .modal-content {

      padding: 40px 15px;
    }
  }
}


