// Fonts

$font-source-sans: "Source Sans Pro";
$font-roboto-slab: "Roboto Slab";

// Backgrounds

$light-background: #ffffff url("") no-repeat center center; /* color code (decimal, hexadecimal, rgb, rgba, etc...),
                                                          image,
                                                          repeat (repeat, repeat-x, repeat-y),
                                                          position x (left, right, 0% - 100%, pixels) ,
                                                          position y  (top, bottom, 0% - 100%, pixels),
                                                          header, */

$orange-background: #e9642d url("") no-repeat center center;

$blue-background: #3a96d2 url("") no-repeat center center;

$blue-dark-background: #0f2b3e url("") no-repeat center center;

$footer-background: linear-gradient(-13deg, #3a96d2 0%, #266289 62%);
// $footer-background: #3A96D2;

$blue-background-rgba: #3a96d2; /* news banner */

$pink-background-rgba: #bc68aa; /* borders */

$blue-dark-background-rgba: #0f2b3e;

// Color Font

$font-color-dark: #363636;

$font-color-pink: #bc68aa; /* nav items on hover, titles */

$font-color-light: #f9f7ef; /* button color */

// Font Size

$font-size-small: 14px;

$font-size-standard: 16px;

$font-size-medium: 20px;

$font-size-big: 40px; /* section's titles */

$font-size-large: 50px; /* page's titles */

// Header && Footer
$height-header: 95px;

// Home

// Buttons
